<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom/css/blog.css">
    <link rel="stylesheet" href="/assets/custom/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/assets/vendor/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="/assets/vendor/es6-promise/promise.min.js"></script>
    <script src="/assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body>
<div id="content">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ app.url_generator.generate('home') }}">{{ app['config'].nome }}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    {% for item in app['menus'] %}
                        <li><a class="fa fa-{{ item.icon }}" href="{{ app.url_generator.generate(item.url) }}"
                               data-toggle="tooltip" data-placement="bottom" title="{{ item.nome }}"></a></li>
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user"
                                                    aria-hidden="true"></i>{% if app.session.get('user').user.username is defined %}
                                {{ app.session.get('user').user.username }}
                            {% endif %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Posts</li>
                            <li><a href="{{ app.url_generator.generate('grid_posts') }}">Lista</a></li>
                            <li><a href="{{ app.url_generator.generate('postForm') }}">Novo Post</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Usu&aacute;rio</li>
                            <li><a href="{{ app.url_generator.generate('profile') }}">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Blog</li>
                            <li><a href="{{ app.url_generator.generate('menu') }}">Menu</a></li>
                            <li><a href="{{ app.url_generator.generate('blog_settings') }}">Configura&ccedil;&otilde;es</a></li>
                        </ul>
                    </li>
                    {% if app.session.get('user').user.username is defined %}
                        <li class="active"><a class="fa fa-sign-out" href="{{ app.url_generator.generate('logout') }}"
                                              data-toggle="tooltip" data-placement="bottom" title="Logout"></a></li>
                    {% else %}
                        <li class="active"><a class="fa fa-sign-in" href="{{ app.url_generator.generate('login') }}"
                                              data-toggle="tooltip" data-placement="bottom" title="Login"><span
                                        class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>

                <form action="{{ app.url_generator.generate('search') }}" method="get" class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
                      <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default"><i
                                    class="fa fa-search"></i></button>
                      </span>
                    </div>
                </form>

            </div>

        </div>
    </nav>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">Cesar</a>.
    </p>
    <p><a href="#">Back to top</a></p>
</footer>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/custom/js/app.min.js"></script>
<script src="/assets/custom/js/demo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
    $('.item').click(function () {
        $('.item').removeClass('active');
        $(this).addClass('active');
    })
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//site-14.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% block javascript %}{% endblock %}
</body>
</html>