{% extends 'template.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block content %}

    <div class="android-more-section">
        <div class="android-section-title mdl-typography--display-1-color-contrast">Posts {% if mensagem is defined %} sobre: {{ mensagem }} {% endif %}</div>
        <div class="android-card-container mdl-grid">
            {% for post in posts %}
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <!--
                    <div class="mdl-card__media">
                        <img src="images/more-from-1.png">
                    </div>
                    -->
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text">{{ post.titulo }}</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {% if post.descricao|length < 200 %}
                            <span class="mdl-typography--font-light mdl-typography--subhead">{{ post.descricao|raw }}</span>
                        {% else %}
                            <span class="mdl-typography--font-light mdl-typography--subhead">{{ post.conteudo|slice(0, 201)|trim|raw }}</span>
                        {% endif %}
                    </div>
                    <div class="mdl-card__actions">
                        <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ path('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace({'.': '', ' ' : '+' })|lower }) }}">
                            Saber mais
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}