{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block content %}{% endblock %}
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>{{ app['about'] }}</p>
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Categories</h4>
            {% for tag in app['categories'] %}
                <a href="{{ app.url_generator.generate('tag', { id : tag.id, tag : tag.nome }) }}">{{ tag.nome }}</a>
            {% endfor %}
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Recents</h4>
                {% for post in app['recents.posts'] %}
                    <p><a href="{{ app.url_generator.generate('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">{{ post.titulo }}</a></p>
                {% endfor %}
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    {% for history in app['posts.history'] %}
                    <li><a href="{{ app.url_generator.generate('archives', { year : history.year }) }}">{{ history.year }}</a>
                        <ul class="list-group-item-text">
                            <li><a href="{{ app.url_generator.generate('archives_by_year_month', { year : history.year, month : history.month|date('m') }) }}"> {{ history.month|date('F') }}</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}