{% extends 'template-new.html.twig' %}

{% block title %}Convidar{% endblock %}
{% block headerNome %}Convidar{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <form method="post" class="form-horizontal wow fadeInUp animated slide" action="{{ path('convidar') }}">
                        <input type="hidden" name="user" value="{{ usuario.id }}"/>
                        <input type="hidden" name="grupo" value="{{ grupo.id }}"/>
                        <label>E-mail</label>
                        <p class="control">
                            <input type="email" class="input" name="email" placeholder="E-mail" required/>
                        </p>
                        <label>Texto</label>
                        <p class="control">
                            <textarea class="textarea" name="mensagem" autofocus id="mensagem" required
                                      placeholder="Deixe a sua sugestão">Olá você foi convidado por {{ usuario.nome }} à participar do grupo {{ grupo.nome }}, acesse e confira.</textarea>
                        </p>
                        <p class="control">
                            <button class="button is-danger is-fullwidth" type="submit">Enviar</button>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block js %}

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=91a9atfos2ittmhqexk1fymksio2pivke5ur2dogysceaim4"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

{% endblock %}