{% extends 'template-new.html.twig' %}

{% block title %}Grupos{% endblock %}
{% block headerNome %}Grupos{% endblock %}


{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    <a href="{{ path('gl_add') }}" class="button is-danger">Criar Grupo</a>
                    <hr class="small"/>

                    {% for grupo in grupos %}

                        <li class="list-group-item">
                            <p class="lead">
                                {% if grupo.id in gruposUsuario %}
                                    <a href="/user/grupo/{{ grupo.id }}-{{ grupo.nome }}">{{ grupo.nome }}</a>
                                {% else %}
                                    {{ grupo.nome }}
                                {% endif %}

                                {% if grupo.id in gruposUsuario %}
                                    <a class="button is-danger is-pulled-right"
                                       href="/user/grupos/request?user={{ usuario.id }}&grupo={{ grupo.id }}&leave=1">Deixargrupo</a>
                                {% else %}
                                    <a class="button is-success is-pulled-right"
                                       href="/user/grupos/request?user={{ usuario.id }}&grupo={{ grupo.id }}">Participardeste
                                        grupo</a>
                                {% endif %}
                            </p>
                        </li>

                    {% endfor %}

                </div>
            </div>
        </div>
    </article>

{% endblock %}