{% extends 'template-new.html.twig' %}

{% block title %}Grupo{% endblock %}
{% block headerNome %}Grupo{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    <a href="/user/grupos/convidar?grupo={{ grupo.id }}" class="button is-primary">Convidar alguém</a>
                    <a href="{{ path('grupo_add_repertorio', { id : grupo.id, nome : grupo.nome }) }}" class="button is-danger">Adicionar ao Repertório</a>
                    <hr class="small"/>

                    <table class="table is-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nome</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for musica in musicas %}
                            <tr>
                                <td>{{ musica.numero }} {{ musica.nome }}</td>
                            </tr>
                        {% endfor  %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>

{% endblock %}