{% extends 'template-new.html.twig' %}

{% block title %}Grupo - {{ grupo.nome }}{% endblock %}
{% block headerNome %}Grupo - {{ grupo.nome }}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    <a href="/user/grupos/convidar?grupo={{ grupo.id }}" class="button is-small is-primary">Convidar alguém</a>
                    <a href="{{ path('grupo_add_repertorio', { id : grupo.id, nome : grupo.nome }) }}" class="button is-small is-success">Adicionar ao Repertório</a>
                    <a href="/user/grupos/participantes?grupo={{ grupo.id }}" class="button is-small is-light">Participantes</a>
                    <a class="button is-small is-primary is-inverted" id="compartilhar">Compartilhar Link</a>
                    <hr class="small"/>

                    <figure>
                        {% for musica in musicas %}
                        <figcaption>
                            <p class="title is-4">
                            <a href="/user/praise/{{ musica.id }}-{{ musica.nome|lower|url_encode }}">{{ musica.numero }} {{ musica.nome }}</a>
                                {% if musica.id in musicasGrupo %}
                                    <button class="button is-danger is-small is-inverted btnARemoveMusica is-pulled-right"
                                            data-grupo="{{ grupo.id }}"
                                            value="{{ musica.id }}">Remover
                                    </button>
                                {% endif %}
                            </p>
                        </figcaption>
                        {% endfor  %}
                    </figure>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $("#compartilhar").click(function (e) {
                e.preventDefault();
                let link = 'Compartilhe este link: <a target="_blank" href="https://coletaneaicm.com/public/group/{{ grupo.id }}-{{ grupo.nome }}">https://coletaneaicm.com/public/group/{{ grupo.id }}-{{ grupo.nome }}</a>';
                alertify.alert(link);
            });

            $('.btnARemoveMusica').click(function (e) {

                let musica = $(this).val();
                let grupo = $(this).data('grupo');

                $(this).addClass('is-loading');

                let _this = $(this);

                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "/user/grupo/add-repertorio",
                    data: {
                        musica: musica,
                        grupo: grupo
                    },
                    cache: false,
                    success: function (data) {

                        alertify.success(data.mensagem);

                        if (data.bln == 'add') {

                            _this.parent().hide();

                            _this.removeClass('is-success');
                            _this.removeClass('is-loading');
                            _this.addClass('is-danger');
                            _this.text('Remover');

                        } else {

                            _this.parent().hide();

                            _this.removeClass('is-danger');
                            _this.removeClass('is-loading');
                            _this.addClass('is-success');
                            _this.text('Adicionar Ao Repertório');

                        }

                        unblock_screen();
                    },
                    error: function (data) {
                        unblock_screen();
                        alertify.error(data.mensagem);
                    }
                });
            })

        })

    </script>

{% endblock %}