{% extends 'template-new.html.twig' %}

{% block title %}Grupo - Participantes{% endblock %}
{% block headerNome %}Grupo - Participantes{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    {% for usuario in usuarios %}

                        <div class="col-sm-4 col-xs-12">
                            <figure>
                                <div class="img-wrapper">
                                    <img style="min-height: 160px; max-height: 160px; margin: auto;"
                                         src="{% if usuario.avatar %}{{ asset(app['dir.avatar'] ~ usuario.avatar ) }}{% else %}{{ asset(app['avatar.default']) }}{% endif %}"
                                         class="img-responsive" alt="{{ usuario.nome }}">
                                    <div class="overlay"></div>
                                </div>
                                <figcaption>
                                    <p class="title is-5" title="{{ usuario.nome }}">
                                        <a class="title is-3" href="{{ path('grupo_participante', { id : usuario.id, nome : usuario.nome|lower|replace(' ', '-') } ) }}">{{ usuario.nome|slice(0, 7) }}</a>.
                                        {% if is_granted('ROLE_ADMIN') %}
                                            {% if usuario.id not in users %}
                                                <button class="button is-success is-pulled-right is-small btnSetAdmin" data-grupo="{{ grupo.id }}" value="{{ usuario.id }}">Administrador</button>
                                            {% else %}
                                                <button class="button is-danger is-small is-pulled-right">Administrador</button>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </figcaption>
                            </figure>
                        </div>

                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $('.btnSetAdmin').click(function (e) {

                let id = $(this).val();
                let grupo = $(this).data('grupo');

                $(this).addClass('is-loading');

                let _this = $(this);

                e.preventDefault();

                block_screen();

                $.ajax({
                    type: "POST",
                    url: "/user/grupos/participante/admin",
                    data: {
                        id : id,
                        grupo: grupo
                    },
                    cache: false,
                    success: function (data) {
                        alertify.success(data.mensagem);
                        _this.removeClass('is-success');
                        _this.removeClass('is-loading');
                        _this.addClass('is-danger');
                        _this.text('Administrador');
                        unblock_screen();
                    },
                    error: function (data) {
                        unblock_screen();
                        alertify.error(data.mensagem);
                    }
                });
            })

        })

    </script>

{% endblock %}