{% extends 'template-new.html.twig' %}

{% block title %}Participante{% endblock %}
{% block headerNome %}Participante{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <figure>
                        <div class="img-wrapper">
                            <img style="margin: auto;"
                                 src="{% if usuario.avatar %}{{ asset(app['dir.avatar'] ~ usuario.avatar ) }}{% else %}{{ asset(app['avatar.default']) }}{% endif %}"
                                 class="img-responsive" alt="{{ usuario.nome }}">
                            <div class="overlay"></div>
                        </div>

                        <figcaption>
                            <p class="title is-3">Nome: {{ usuario.nome }}</p>
                            <p class="title is-5">E-mail: {{ usuario.email }}</p>
                            <p class="title is-5">Estado: {{ usuario.estado }}</p>
                            <p class="title is-5">Cidade: {{ usuario.cidade }}</p>
                        </figcaption>
                    </figure>

                </div>
            </div>
        </div>
    </article>

{% endblock %}
