{% extends 'template.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Categorias</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <button data-toggle="modal" data-target="#myModal" class="button is-danger addCategoria">Nova Categoria</button>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <table class="table is-narrow">
                        <thead>
                            <tr>
                                <th>Nome:</th>
                                <th>Cole&ccedil;&atilde;o</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categorias %}
                                <tr>
                                    <td><a href="{{ path('categoria_musicas_grid', { categoriaId : categoria.id, nome : categoria.nome|replace('^', '') }) }}">{{ categoria.nome }}</a></td>
                                    <td>{{ categoria.colecao.nome }}</td>
                                    <td>
                                        <p class="control has-addons">
                                            <a class="button is-primary is-outlined openMenu"
                                               data-toggle="modal"
                                               data-target="#myModal" data-id="{{ categoria.id }}"
                                               data-nome="{{ categoria.nome }}"
                                               data-colecao="{{ categoria.colecao.id }}"
                                               style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-edit"></i>
                                                    </span>
                                                <span>Editar</span>
                                            </a>
                                            {% if categoria.ativo == 0 %}
                                                <a class="button is-success is-outlined"
                                                   href="{{ path('alterar_suatus_menu', { id : categoria.id }) }}"
                                                   style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Ativar</span>
                                                </a>
                                            {% else %}
                                                <a class="button is-danger is-outlined"
                                                   href="{{ path('alterar_suatus_menu', { id : categoria.id }) }}"
                                                   style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-ban"></i>
                                                    </span>
                                                    <span>Inativar</span>
                                                </a>
                                            {% endif %}
                                        </p>
                                    </td>
                                <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    <br>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="POST" action="{{ path('save_categoria') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adicionar Categoria</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Nome" name="nome" id="nome" required>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <select class="input" name="colecao" id="colecao" required>
                                <option value=""></option>
                                {% for colecao in colecoes %}
                                    <option value="{{ colecao.id }}" >{{ colecao.nome }}</option>
                                {% endfor %}
                            </select>
                            <i class="fa fa-edit"></i>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).on('click', '.openMenu', function () {
            $('.modal-body #id').val($(this).data('id'));
            $('.modal-body #nome').val($(this).data('nome'));
            $('.modal-body #colecao').val($(this).data('colecao'));
            $('.modal-body #colecao').attr('selected', selected);
        })
    </script>
    <script>
        $(document).on('click', '.addCategoria', function () {
            $('.modal-body #id').val('');
            $('.modal-body #nome').val('');
            $('.modal-body #colecao').val('');
        })
    </script>
{% endblock %}