{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block stylesheet %}
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/jquery.filer.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/themes/jquery.filer-dragdropbox-theme.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    <button data-toggle="modal" data-target="#addLink" class="button is-light is-small addAnexo">Novo Anexo</button>
                    <button data-toggle="modal" data-target="#upload" class="button is-danger is-small is-inverted addAnexo">Upload de Arquivos</button>
                    <hr>
                    {% for anexo in anexos %}
                        <div class="media">
                            <!--
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="{{ asset(app['default.card']) }}" alt="...">
                                </a>
                            </div>-->
                            <div class="media-body">
                                <h4 class="media-heading">{{ anexo.nome }}<small> {{ anexo.tipo.nome }}</small>
                                    <a class="button is-danger is-small is-inverted is-pulled-right"
                                       href="{{ path('musica_anexos_remover', { id : anexo.id }) }}"
                                       style="text-decoration: none">
                                        <span>Remover</span>
                                    </a>
                                    <a class="button is-white is-small is-pulled-right openMenu"
                                       data-toggle="modal"
                                       data-target="#myModal" data-id="{{ anexo.id }}"
                                       data-nome="{{ anexo.nome }}"
                                       data-tipo="{{ anexo.tipo.id }}"
                                       data-link="{{ anexo.link }}"
                                       style="text-decoration: none">
                                        <span>Editar</span>
                                    </a></h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <br>

    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="POST" action="{{ path('save_musica_anexos', { musicaId : musica.id }) }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adicionar Musica</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="musica" id="musica" value="{{ musica.id }}">
                        <label class="label label-default">Tipo de Link</label>
                        <p class="control">
                            <select class="input" name="tipo" id="tipo" required>
                                <option value="">Selecione</option>
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.id }}" >{{ tipo.nome }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <label class="label label-default">Link</label>
                        <p class="control">
                            <input class="input" type="text" placeholder="Link" name="link" id="link" required>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('musica_anexos_upload', { musicaId : musica.id }) }}"  enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload de Arquivos</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="musica" value="{{ musica.id }}">
                        <input class="input" type="file" name="files[]" id="filer_input" multiple="multiple">
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/js/jquery.filer.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/file-uploader.js') }}" type="text/javascript"></script>

    <script>
        $(document).on('click', '.openMenu', function () {
            $('.modal-body #id').val($(this).data('id'));
            $('.modal-body #nome').val($(this).data('nome'));
            $('.modal-body #tipo').val($(this).data('tipo'));
            $('.modal-body #link').val($(this).data('link'));
            $('.modal-body #tipo').attr('selected', selected);
        })
    </script>
    <script>
        $(document).on('click', '.addAnexo', function () {
            $('.modal-body #id').val('');
            $('.modal-body #nome').val('');
            $('.modal-body #tipo').val('');
            $('.modal-body #link').val('');
        })
    </script>
{% endblock %}