{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Musicas</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a style="text-decoration: none" href="{{ path('musicas_add') }}"><button class="button is-success is-outlined addMusica">Nova Musica</button></a>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for musica in musicas %}
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="{{ asset(app['default.card']) }}" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('musica_anexos_grid', { musicaId : musica.id, nome : musica.nome }) }}">{{ musica.numero }} - {{ musica.nome }}</a><small> {{ musica.categoria.nome }}</small></h4>
                                <p class="control has-addons">
                                    <a href="{{ path('musicas_edit', { id : musica.id }) }}" class="button is-primary is-small is-outlined"
                                       style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-edit"></i>
                                                    </span>
                                        <span>Editar</span>
                                    </a>
                                    <a class="button {% if musica.ativo %} is-danger {% else %} is-success {% endif %} is-outlined is-small"
                                       href="{{ path('musicas_status', { id : musica.id }) }}"
                                       style="text-decoration: none">
                                                <span class="icon is-small">
                                                  <i class="fa fa-plus"></i>
                                                </span>
                                        <span>{% if musica.ativo %} Inativar {% else %} Ativar {% endif %}</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
{% endblock %}