{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('assets/plugins/jQuery.filer/css/jquery.filer.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/jQuery.filer/css/themes/jquery.filer-dragdropbox-theme.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <button data-toggle="modal" data-target="#myModal" class="button is-danger addAnexo">Novo Anexo</button>

                    <hr class="small">

                    <form action="{{ path('musica_anexos_upload', { musicaId : musica.id }) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="musica" value="{{ musica.id }}">
                        <input type="file" name="files[]" id="filer_input" multiple="multiple">
                        <input type="submit" class="button is-primary is-outlined" value="Submit">
                    </form>

                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <table class="table is-narrow">
                        <thead>
                        <tr>
                            <th>Nome:</th>
                            <th>Tipo:</th>
                            <th>Link:</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for anexo in anexos %}
                        <tr>
                            <td>{{ anexo.nome }}</td>
                            <td>{{ anexo.tipo.nome }}</td>
                            <td>{{ anexo.link }}</td>
                            <td>
                                <p class="control has-addons">
                                    <a class="button is-primary is-outlined openMenu"
                                       data-toggle="modal"
                                       data-target="#myModal" data-id="{{ anexo.id }}"
                                       data-nome="{{ anexo.nome }}"
                                       data-tipo="{{ anexo.tipo.id }}"
                                       data-link="{{ anexo.link }}"
                                       style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-edit"></i>
                                                    </span>
                                        <span>Editar</span>
                                    </a>
                                    <a class="button is-danger is-outlined"
                                       href="{{ path('musica_anexos_remover', { id : anexo.id }) }}"
                                       style="text-decoration: none">
                                                <span class="icon is-small">
                                                  <i class="fa fa-minus"></i>
                                                </span>
                                        <span>Remover</span>
                                    </a>
                                </p>
                            </td>
                        <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    <br>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="POST" action="{{ path('save_musica_anexos') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adicionar Musica</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="musica" id="musica" value="{{ musica.id }}">
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Nome" name="nome" id="nome" required>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <select class="input" name="tipo" id="tipo" required>
                                <option value=""></option>
                                {% for tipo in tipos %}
                                    <option value="{{ tipo.id }}" >{{ tipo.nome }}</option>
                                {% endfor %}
                            </select>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Link" name="link" id="link" required>
                            <i class="fa fa-edit"></i>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{{ asset('assets/plugins/jQuery.filer/js/jquery.filer.min.js') }}"></script>
    <script src="{{ asset('assets/blog/js/file-uploader.js') }}" type="text/javascript"></script>

    <script>
        $(document).on('click', '.openMenu', function () {
            $('.modal-body #id').val($(this).data('id'));
            $('.modal-body #nome').val($(this).data('nome'));
            $('.modal-body #tipo').val($(this).data('tipo'));
            $('.modal-body #tipo').val($(this).data('tipo'));
            $('.modal-body #link').val($(this).data('link'));
            $('.modal-body #tipo').attr('selected', selected);
        })
    </script>
    <script>
        $(document).on('click', '.addAnexo', function () {
            $('.modal-body #id').val('');
            $('.modal-body #nome').val('');
            $('.modal-body #tipo').val('');
            $('.modal-body #link').val('');
        })
    </script>
{% endblock %}