{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Editar Musica{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form class="form-horizontal" method="POST" action="{{ path('save_musica') }}">
                        <input type="hidden" name="id" id="id" value="{{ musica.id }}">
                        <p class="control">Titulo:
                            <input class="input" type="text" value="{{ musica.nome }}" placeholder="Nome" name="nome" id="nome" required>
                        </p>
                        <p class="control">N&uacute;mero:
                            <input class="input" type="text" value="{{ musica.numero }}" placeholder="Numero" name="numero" id="numero">
                        </p>
                        <p class="control">Tonalidade:
                            <select id="tonalidade" class="input" name="tonalidade" required>
                                {% for tom in app['tonalidades'] %}
                                    <option value="{{ tom }}" {% if musica.tom == tom %} selected="selected" {% endif %}>{{ tom }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="control">Categoria:
                            <select id="categoria" class="input" name="categoria" required>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}" >{{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="control">Letra:
                        <textarea class="textarea form-control" id="letra" name="letra"
                                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{{ musica.letraOriginal }}</textarea>
                        </p>
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init($('#letra'));</script>
    {{ parent() }}
{% endblock %}