{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Musicas{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a style="text-decoration: none" href="{{ path('musicas_add') }}"><button class="button is-light is-small addMusica">Nova Musica</button></a>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    {% for musica in musicas %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="{{ path('musica_anexos_grid', { musicaId : musica.id, nome : musica.nome }) }}">{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}</a>

                                    <a href="{{ path('musicas_edit', { id : musica.id }) }}" class="button is-white is-small is-pulled-right">Editar</a>
                                </h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
{% endblock %}