{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Musicas</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a style="text-decoration: none" href="{{ path('musicas_add') }}"><button class="button is-light is-small addMusica">Nova Musica</button></a>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    {% for musica in musicas %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="{{ path('musica_anexos_grid', { musicaId : musica.id, nome : musica.nome }) }}">{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}</a>
                                    <a class="button {% if musica.ativo %} is-danger {% else %} is-success {% endif %} is-inverted is-small is-pulled-right"
                                       href="{{ path('musicas_status', { id : musica.id }) }}">{% if musica.ativo %} Inativar {% else %} Ativar {% endif %}
                                    </a>
                                    <a href="{{ path('musicas_edit', { id : musica.id }) }}" class="button is-white is-small is-pulled-right">Editar</a>
                                </h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
{% endblock %}