{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Musicas</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <a style="text-decoration: none" href="{{ path('musicas_add') }}"><button class="button is-success is-outlined addMusica">Nova Musica</button></a>
                    <hr>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <table class="table is-narrow">
                        <thead>
                            <tr>
                                <th>Numero:</th>
                                <th>Nome:</th>
                                <th>Categoria</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for musica in musicas %}
                                <tr>
                                    <td>{{ musica.numero }}</td>
                                    <td><a href="{{ path('musica_anexos_grid', { musicaId : musica.id, nome : musica.nome }) }}">{{ musica.nome }}</a></td>
                                    <td>{{ musica.categoria.nome }}</td>
                                    <td>
                                        <p class="control has-addons">
                                            <a href="{{ path('musicas_edit', { id : musica.id }) }}" class="button is-primary is-outlined"
                                               style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-edit"></i>
                                                    </span>
                                                <span>Editar</span>
                                            </a>
                                            {% if musica.ativo == 0 %}
                                                <a class="button is-success is-outlined"
                                                   href="{{ path('musicas_status', { id  : musica.id }) }}"
                                                   style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Ativar</span>
                                                </a>
                                            {% else %}
                                                <a class="button is-danger is-outlined"
                                                   href="{{ path('musicas_status', { id : musica.id }) }}"
                                                   style="text-decoration: none">
                                                    <span class="icon is-small">
                                                      <i class="fa fa-ban"></i>
                                                    </span>
                                                    <span>Inativar</span>
                                                </a>
                                            {% endif %}
                                        </p>
                                    </td>
                                <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
{% endblock %}