{% extends 'template.html.twig' %}

{% block title %}Novo Post{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet"
          href="{{ asset('/assets/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{{ asset(app['background.default']) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Criar Post</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form method="post" class="form-horizontal" action="{{ app.url_generator.generate('newPost') }}"
                          enctype="multipart/form-data">


                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Titulo" name="titulo" required>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="file" id="background" name="background" placeholder="Background" accept="image/*">
                            <i class="fa fa-image"></i>
                        </p>
                        <p class="control has-icon">
                            <input type="text" class="form-control" name="tags" data-role="tagsinput"
                                   placeholder="tags"/>
                            <i class="fa fa-bookmark"></i>
                        </p>
                        <p class="control has-icon">
                            <textarea class="textarea form-control" id="descricao" name="descricao"
                                      placeholder="Descricao" placeholder="Place some text here"
                                      style="width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="{{ asset('/assets/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('/assets/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput-angular.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="{{ asset('/assets/plugins/ckeditor/ckeditor.js') }}"></script>
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('descricao');
            //bootstrap WYSIHTML5 - text editor
            //$(".textarea").wysihtml5();
        });
    </script>
{% endblock %}