{% extends 'template-new.html.twig' %}

{% block title %}Usu&aacute;rios{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Usu&aacute;rios{% endblock %}

{% block content %}

    <section id="works" class="works">
        <div class="container">
            <div class="row">

                <a class="button is-light is-small" id="btnEnviarEmailParaTodos"
                   href="#">Enviar e-mail</a>

                <hr class="small">

                <table class="table is-bordered is-responsive is-hovered">
                    <thead>
                    <tr>
                        <th><abbr title="Position">ID</abbr></th>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th><abbr title="Drawn">Opções</abbr></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><abbr title="Position">ID</abbr></th>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th><abbr title="Drawn">Opções</abbr></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>
                                <img style="min-height: 64px; max-height: 64px;"
                                     src="{% if usuario.avatar %}{{ asset(app['dir.avatar'] ~ usuario.avatar ) }}{% else %}{{ asset(app['default.card']) }}{% endif %}"
                                     class="media-object" alt="...">
                            </td>
                            <td>
                                <p class="title is-4">
                                    <a href="{{ path('perfil', { id : usuario.id, nome : usuario.nome }) }}">{{ usuario.nome }}</a>
                                </p>
                                <p>{{ usuario.email }}</p>
                                <p>{{ usuario.cadastro|date('d/m/y H:i:s') }}</p>
                            </td>
                            <td>
                                <p><a class="button is-default is-small is-fullwidth"
                                      href="{{ path('usuario_atividades', { user : usuario.id }) }}">Atividades</a>
                                </p>
                                <p>
                                    <button class="button is-small is-default is-fullwidth enviarEmail"
                                            value="{{ usuario.id }}">
                                        Enviar Email
                                    </button>
                                </p>
                                <p>
                                    <a href="{{ path('user_favorites_2', { id : usuario.id, nome : usuario.nome|lower }) }}"
                                       target="_blank" class="button is-small is-default is-fullwidth">
                                        Favoritos
                                    </a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>


{% endblock %}

{% block js %}


    <script>

        $(document).ready(function () {
            $("#btnEnviarEmailParaTodos").click(enviarEmailParaTodosUsuarios);
            $(".enviarEmail").click(function (e) {

                e.preventDefault();
                var id = $(this).val();

                alertify.confirm("Deseja enviar um e-mail?", function () {


                    block_screen();

                    $.ajax({
                        type: 'GET',
                        url: '/user/email-send?id=' + id,
                        cache: false,
                        success: function (data) {
                            alertify.success(data.message);
                            unblock_screen();
                        },
                        error: function () {
                            unblock_screen();
                            alertify.error("Ocorreu um erro.");
                        }
                    })

                }).setting("labels", {"ok": "Sim", "cancel": "Cancelar"});


            })
        });

        function enviarEmailParaTodosUsuarios(e) {

            e.preventDefault();

            alertify.confirm("Deseja enviar e-mail para todos?", function () {

                block_screen();

                $.ajax({
                    type: 'GET',
                    url: '/user/email-send-all',
                    cache: false,
                    success: function (data) {
                        alertify.success(data.message);
                        unblock_screen();
                    },
                    error: function () {
                        unblock_screen();
                        alertify.error("Ocorreu um erro.");
                    }
                })

            }).setting("labels", {"ok": "Sim", "cancel": "Cancelar"});

        }

    </script>

{% endblock %}