{% extends 'template.html.twig' %}

{% block title %}Usu&aacute;rios{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Usu&aacute;rios</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <!--
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <button data-toggle="modal" data-target="#myModal" class="button is-danger is-small addColecao">Novo Usu&aacute;rio</button>
                    <hr>
                </div>-->
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    {% for usuario in usuarios %}
                        <div class="media">
                            <!--
                            <div class="media-left media-middle is-4by3">
                                <a href="{{ path('perfil', { user : usuario.id }) }}">
                                    <img class="media-object img-circle" style="min-height:48px; max-height: 48px; min-width: 48px; max-width: 48px;" src="{% if usuario.avatar is not null %}{{ asset(app['dir.avatar'] ~ usuario.avatar ) }}{% else %}{{ asset(app['default.card']) }}{% endif %}" alt="...">
                                </a>-->
                            </div><br>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('perfil', { user : usuario.id }) }}">{{ usuario.nome }}</a>
                                    <a class="button is-light is-small is-pulled-right" href="{{ path('usuario_atividades', { user : usuario.id }) }}">Atividades</a>
                                    {% if usuario.id != app['usuario.sessao'].id %}
                                        <a class="button {% if usuario.ativo %} is-danger {% else %} is-success {% endif %} is-inverted is-pulled-right is-small"
                                           href="{{ path('usuario_status', { id : usuario.id }) }}"
                                           style="text-decoration: none">
                                            <span>{% if usuario.ativo %} Inativar {% else %} Ativar {% endif %}</span>
                                        </a>
                                    {% else %}
                                        <button class="button is-light is-small is-pulled-right">Voc&ecirc;</button>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
    <br>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" method="POST" action="{{ path('save_colecao') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adicionar Cole&ccedil;&atilde;o</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Nome" name="nome" id="nome" required>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Descri&ccedil;&atilde;o" name="descricao" id="descricao" required>
                            <i class="fa fa-edit"></i>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).on('click', '.openMenu', function () {
            $('.modal-body #id').val($(this).data('id'));
            $('.modal-body #nome').val($(this).data('nome'));
            $('.modal-body #descricao').val($(this).data('descricao'));
        })
    </script>
    <script>
        $(document).on('click', '.addColecao', function () {
            $('.modal-body #id').val('');
            $('.modal-body #nome').val('');
            $('.modal-body #descricao').val('');
        })
    </script>
{% endblock %}