{% extends 'template-new.html.twig' %}

{% block title %}Minhas Playlists{% endblock %}
{% block headerNome %}Minhas Playlists{% endblock %}


{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    <a href="{{ path('playlist_create') }}" class="button is-success">Criar Playlist</a>
                    <hr class="small"/>

                    <figure>

                    {% for playlist in playlists %}

                        <figcaption>
                            <p class="lead">

                                <a href="/user/playlists/{{ playlist.id }}-{{ playlist.nome|trim|lower|replace({'.': '_', ' ' : '_' }) }}">{{ playlist.nome }}</a>

                                <button class="button is-danger is-pulled-right btnRemovePlaylist" value="{{ playlist.id }}">Remover</button>

                            </p>
                        </figcaption>

                    {% endfor %}

                    </figure>

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block js %}

    <script>

        $(".btnRemovePlaylist").click(function (e) {

            e.preventDefault();

            let id = $(this).val();
            let _this = $(this);

            alertify.confirm("Deseja remover esta playlist?", function () {

                block_screen();

                $.ajax({
                    type: "POST",
                    url: "/user/playlists/remove/" + id,
                    cache: false,
                    success: function (data) {
                        _this.parent().parent().hide();
                        unblock_screen();
                        alertify.success(data.message);
                    },
                    error: function () {
                        unblock_screen();
                        alertify.error("Ocorreu um erro.");
                    }
                });
            }).setting("labels", {"ok": "Sim", "cancel": "Cancelar"});
        });

    </script>

{% endblock %}