<!DOCTYPE html>
<html>
<head>
    <title>{{ app['nome.blog'] }} - {% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Cesar Augusto">

    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/ico/favicon.ico') }}" rel='shortcut icon' type='image/x-icon'/>
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/bulma2.css') }}" rel="stylesheet">

    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <!-- You should properly set the path from the main file. -->

    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/clean-blog.min.css') }}" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ asset(app['dir.base'] ~ 'assets/plugins/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css') }}">

    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/jquery.filer.css') }}" type="text/css"
          rel="stylesheet"/>

    {% block stylesheet %}{% endblock %}

    <style>
        .row {
            flex-direction: column;
        }
        a {
            color: white;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset(app['dir.base'] ~ 'assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/clean-blog.min.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>