{% extends 'base.html.twig' %}

{% block title %}{{ app['blog2'].nome }}{% endblock %}

{% block stylesheet %}

    <style>
        .navbar-custom .nav li a{
            color: black;
        }

        .navbar-custom .nav li a:hover{
            color: black;
        }
    </style>

{% endblock %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand"
                   href="{{ path('palavra') }}">{{ app['blog2'].nome }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="{{ path('form_post') }}">Postar Mensagem</a></li>

                    <li>
                        <a href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('colecoes') }}">Louvores</a></li>
                            <li><a href="{{ path('palavra') }}">Palavra Revelada</a></li>
                        </ul>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="#" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">Administrador</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('form_post') }}">Novo Post</a></li>
                                <li><a href="{{ path('listagem_posts') }}">Lista Post</a></li>
                                <li><a href="{{ path('blog') }}">Configura&ccedil;&otilde;es</a></li>
                                <li><a href="{{ path('usuarios') }}">Usu&aacute;rios</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usu&aacute;rio
                                <small> {{ app.usuario.nome }}</small>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('perfil', { id : app.usuario.id, nome : app.usuario.nome }) }}">Perfil</a>
                                </li>
                                <li>
                                    <a href="{{ path('usuario_atividades', { user : app.usuario.id }) }}">Atividades</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('pesquisar') }}">Pesquisar</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{ path('pesquisar_home') }}">Pesquisar</a></li>
                    {% endif %}

                    <li>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('logout') }}">Sair</a>
                        {% else %}
                            <a href="{{ path('login') }}">Entrar</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; {{ app['nome.blog'] }} Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascript %}{% endblock %}