<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/ico/favicon.ico') }}" rel='shortcut icon' type='image/x-icon'/>
    <meta name="description" content="">
    <meta name="keywords" content="Louvores">
    <meta name="author" content="Cesar Augusto">

    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/alertifyjs/css/alertify.min.css') }}" rel=stylesheet>
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/alertifyjs/css/themes/default.min.css') }}" rel=stylesheet>
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/AdminLTE.min.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/bulma.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog-new/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/dist/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/vendor/jasny-bootstrap/dist/css/jasny-bootstrap.min.css') }}" rel=stylesheet>
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/themes/jquery.filer-dragdropbox-theme.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/dist/css/emoji.min.css') }}" rel="stylesheet">
    <style type="text/css">
        #hero-area {
            background: url('{{ app['background'] }}') no-repeat 50%;
            background-size: 100% 100%;
        }
    </style>

    {% block stylesheet %}{% endblock %}

    <title>{{ app['nome.blog'] }} - {% block title %}{% endblock %}</title>

    <script src="{{ asset(app['dir.base'] ~ 'assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/vendor/react/react.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/vendor/react/react-dom.min.js') }}"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/alertifyjs/alertify.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/vendor/jasny-bootstrap/dist/js/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/vendor/modernizr-2.6.2.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/wow.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/slider.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog-new/js/main.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/snackbarjs/dist/snackbar.min.js') }}" async></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/main.js') }}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-92071680-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset(app['dir.base'] ~ 'assets/build/bundle.js?v4') }}"></script>
</body>
</html>