<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ app['nome.blog'] }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/ico/favicon.ico') }}" rel='shortcut icon' type='image/x-icon'/>
    {% block head %}
        <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/snackbarjs/dist/snackbar.min.css') }}" rel=stylesheet>
        <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/snackbarjs/themes-css/material.css') }}" rel=stylesheet>
        <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/iCheck/all.css') }}" rel="stylesheet">
        <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/AdminLTE.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="hold-transition login-page" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
{% block content %}{% endblock %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="{{ asset(app['dir.base'] ~ 'assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset(app['dir.base'] ~ 'assets/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ asset(app['dir.base'] ~ 'assets/plugins/snackbarjs/dist/snackbar.min.js') }}"></script>
<script type="text/javascript">
    $(window).load(function() {
        if($("#snackbarid").length > 0) {
            $("#snackbarid").snackbar("show");
        }
    });
</script>
<script>
    $(document).ready(function(){
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red'
        });
    });
</script>
{% block javascript %}{% endblock %}
</body>
</html>