{% extends 'template-public.html.twig' %}

{% block title %}Grupo - {{ grupo.nome }}{% endblock %}
{% block headerNome %}Grupo - {{ grupo.nome }}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <figure>
                        {% for grupo in grupoMusicas %}
                        <figcaption>
                            <p class="title is-4">
                            <a href="/public/{{ grupo.musica.id }}-{{ grupo.musica.nome|lower|url_encode }}">{{ grupo.musica.numero }} {{ grupo.musica.nome }}</a>
                                {% if grupo.situacao.id == 1 %}
                                    <span class="tag is-success">{{ grupo.situacao.label }}</span>
                                {% elseif grupo.situacao.id == 2 %}
                                    <span class="tag is-danger">{{ grupo.situacao.label }}</span>
                                {% else %}
                                    <span class="tag is-primary">{{ grupo.situacao.label }}</span>
                                {% endif %}
                            </p>
                        </figcaption>
                        {% else  %}
                            <figcaption>
                                <p class="title is-4">Nenhum registro encontrado.</p>
                            </figcaption>
                        {% endfor  %}
                    </figure>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
