{% extends 'template-public.html.twig' %}

{% block meta %}
    <meta name="title" property="og:title" content="{{ musica.nome }}">
    <meta name="type" property="og:type" content="{{ musica.categoria.nome }}">
    <meta name="description" property="og:description" content="{{ musica.letra }}">
{% endblock %}

{% block title %}{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}{% endblock %}

{% block headerNome %}{{ musica.numero }} {{ musica.nome }}{% endblock %}
{% block headerSubtitulo %}{{ musica.categoria.colecao.nome }} / {{ musica.categoria.nome }}{{ app['nome.blog'] }}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div class="col-sm-12 col-xs-12">

                        {% if musicas|length > 0 %}

                            <div class="column add-bottom">
                                <div id="mainwrap">
                                    <div id="nowPlay">
                                        <span class="left" id="npAction">Paused...</span>
                                        <span class="right" id="npTitle"></span>
                                    </div>
                                    <div id="audiowrap">
                                        <div id="audio0">
                                            <audio preload id="audio1" controls="controls">Your browser does not support
                                                HTML5 Audio!
                                            </audio>
                                        </div>
                                        <div id="tracks">
                                            <a id="btnPrev">&laquo;</a>
                                            <a id="btnNext">&raquo;</a>
                                        </div>
                                    </div>
                                    <div id="plwrap">
                                        <ul id="plList"></ul>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        <figure>

                            {% for anexo in anexos %}

                                <figcaption>
                                    <p class="title is-3">
                                        {{ anexo.nome }}
                                    </p>

                                    <p>
                                        {% if not anexo.isExterno %}
                                            <a href="{{ path('anexo_download', { id: anexo.id ,link : anexo.link, down : true}) }}"
                                               download>
                                                <button class="button is-small is-inverted is-primary">
                                                    Baixar
                                                </button>
                                            </a>
                                        {% endif %}
                                    </p>
                                </figcaption>

                            {% else %}
                                <figcaption>
                                    <p class="title is-3">Nenhum Arquivo foi encontrado.</p>
                                </figcaption>
                            {% endfor %}

                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            var b = document.documentElement;
            b.setAttribute('data-useragent', navigator.userAgent);
            b.setAttribute('data-platform', navigator.platform);

            jQuery(function ($) {

                if ($("#hasfiles").val() == false) {
                    return false;
                }

                songs = [];

                {% for anexo in musicas %}
                songs.push(
                    {
                        "track": {{ loop.index }},
                        "name": "{{ anexo.nome }}",
                        "file": "{{ anexo.nome }}",
                        "user": "{{ anexo.usuario.nome }}",
                        "date": "{{ anexo.cadastro|date('d/m/y H:i') }}",
                    }
                );
                {% endfor %}

                tracks = songs;

                var supportsAudio = !!document.createElement('audio').canPlayType;
                if (supportsAudio) {
                    var index = 0,
                        playing = false,
                        mediaPath = "{{ app['dir.anexo'] }}",
                        extension = '',
                        tracks = tracks,
                        buildPlaylist = $.each(tracks, function (key, value) {
                            var trackNumber = value.track,
                                trackName = value.name,
                                trackLength = value.length;
                            if (trackNumber.toString().length === 1) {
                                trackNumber = '0' + trackNumber;
                            } else {
                                trackNumber = '' + trackNumber;
                            }
                            $('#plList').append('<li><div class="plItem"><div class="plNum">' + trackNumber + '.</div><div class="plTitle">' + trackName + '</div><div class="plLength">' + '' + '</div></div></li>');
                        }),
                        trackCount = tracks.length,
                        npAction = $('#npAction'),
                        npTitle = $('#npTitle'),
                        audio = $('#audio1').bind('play', function () {
                            playing = true;
                            npAction.text('Now Playing...');
                        }).bind('pause', function () {
                            playing = false;
                            npAction.text('Paused...');
                        }).bind('ended', function () {
                            npAction.text('Paused...');
                            if ((index + 1) < trackCount) {
                                index++;
                                loadTrack(index);
                                audio.play();
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }).get(0),
                        btnPrev = $('#btnPrev').click(function () {
                            if ((index - 1) > -1) {
                                index--;
                                loadTrack(index);
                                if (playing) {
                                    audio.play();
                                }
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }),
                        btnNext = $('#btnNext').click(function () {
                            if ((index + 1) < trackCount) {
                                index++;
                                loadTrack(index);
                                if (playing) {
                                    audio.play();
                                }
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }),
                        li = $('#plList li').click(function () {
                            var id = parseInt($(this).index());
                            if (id !== index) {
                                playTrack(id);
                            }
                        }),
                        loadTrack = function (id) {
                            $('.plSel').removeClass('plSel');
                            $('#plList li:eq(' + id + ')').addClass('plSel');
                            npTitle.text(tracks[id].name + ' - ' + tracks[id].user + ' - ' + tracks[id].date);
                            index = id;
                            audio.src = mediaPath + tracks[id].file;
                        },
                        playTrack = function (id) {
                            loadTrack(id);
                            audio.play();
                        };
                    extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                    loadTrack(index);
                }
            });
        });

    </script>
{% endblock %}