{% extends 'template-public.html.twig' %}

{% block meta %}
    <meta name="title" property="og:title" content="{{ musica.nome }}">
    <meta name="type" property="og:type" content="{{ musica.categoria.nome }}">
    <meta name="description" property="og:description" content="{{ musica.letra }}">
{% endblock %}

{% block title %}{{ musica.numero }} {{ musica.nome }}{% endblock %}
{% block headerNome %}{{ musica.numero }} {{ musica.nome }}{% endblock %}
{% block headerSubtitulo %}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if musicas|length > 0 %}

                        <div class="column add-bottom">
                            <div id="mainwrap">
                                <div id="nowPlay">
                                    <span class="left" id="npAction">Paused...</span>
                                    <span class="right" id="npTitle"></span>
                                </div>
                                <div id="audiowrap">
                                    <div id="audio0">
                                        <audio preload id="audio1" controls="controls">Your browser does not support
                                            HTML5 Audio!
                                        </audio>
                                    </div>
                                    <div id="tracks">
                                        <a id="btnPrev">&laquo;</a>
                                        <a id="btnNext">&raquo;</a>
                                    </div>
                                </div>
                                <div id="plwrap">
                                    <ul id="plList"></ul>
                                </div>
                            </div>
                        </div>

                    {% endif %}


                    {% if musica.letra|length > 0 %}
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="more-less glyphicon glyphicon-plus"></i>
                                            Letra
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <pre id="content" data-key="{{ musica.tom }}">{{ musica.letra }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="more-less glyphicon glyphicon-plus"></i>
                                        Arquivos
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <figure>

                                        {% for anexo in anexos %}

                                            <figcaption>
                                                <p class="title is-4">
                                                    {{ anexo.nome }}
                                                </p>

                                                <p>
                                                    {% if not anexo.isExterno %}
                                                        <a href="{{ path('anexo_download', { id: anexo.id ,link : anexo.link, down : false }) }}">
                                                            <button class="button is-small is-inverted is-success">
                                                                Visualizar
                                                            </button>
                                                        </a>
                                                        <a href="{{ path('anexo_download', { id: anexo.id ,link : anexo.link, down : true}) }}"
                                                           download>
                                                            <button class="button is-small is-inverted is-primary">
                                                                Baixar
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a href="/user/praise/{{ musica.id }}-{{ musica.nome|lower|trim|url_encode }}/video/{{ anexo.id }}">
                                                            <button class="button is-small is-success">
                                                                Ir para o Link
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                    {% if anexo.usuario.id == app.usuario.id or is_granted('ROLE_ADMIN') %}
                                                        <button class="button is-danger is-small is-inverted btnRemover"
                                                                value="{{ anexo.id }}">Remover
                                                        </button>
                                                    {% endif %}
                                                </p>
                                            </figcaption>

                                        {% else %}
                                            <figcaption>
                                                <p class="title is-3">Nenhum Arquivo foi encontrado.</p>
                                            </figcaption>
                                        {% endfor %}

                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $("#content").transpose({key: 'C'});
            $('#incfont').click(function () {
                curSize = parseInt($('#content').css('font-size')) + 1;
                curSize2 = parseInt($('.c').css('font-size')) + 1;
                if (curSize <= 32)
                    $('#content').css('font-size', curSize);
                if (curSize2 <= 32)
                    $('.c').css('font-size', curSize2);
            });
            $('#decfont').click(function () {
                curSize = parseInt($('#content').css('font-size')) - 1;
                curSize2 = parseInt($('.c').css('font-size')) - 1;
                if (curSize >= 5)
                    $('#content').css('font-size', curSize);
                if (curSize2 >= 5)
                    $('.c').css('font-size', curSize2);
            });
            $('.c').css('font-size', 14);
            $('#content').css('font-size', 14);

            var b = document.documentElement;
            b.setAttribute('data-useragent', navigator.userAgent);
            b.setAttribute('data-platform', navigator.platform);

            jQuery(function ($) {

                if ($("#hasfiles").val() == false) {
                    return false;
                }

                songs = [];

                {% for anexo in musicas %}
                songs.push(
                    {
                        "track": {{ loop.index }},
                        "name": "{{ anexo.nome }}",
                        "file": "{{ anexo.nome }}",
                        "user": "{{ anexo.usuario.nome }}",
                        "date": "{{ anexo.cadastro|date('d/m/y H:i') }}",
                    }
                );
                {% endfor %}

                tracks = songs;

                var supportsAudio = !!document.createElement('audio').canPlayType;
                if (supportsAudio) {
                    var index = 0,
                        playing = false,
                        mediaPath = "{{ app['dir.anexo'] }}",
                        extension = '',
                        tracks = tracks,
                        buildPlaylist = $.each(tracks, function (key, value) {
                            var trackNumber = value.track,
                                trackName = value.name,
                                trackLength = value.length;
                            if (trackNumber.toString().length === 1) {
                                trackNumber = '0' + trackNumber;
                            } else {
                                trackNumber = '' + trackNumber;
                            }
                            $('#plList').append('<li><div class="plItem"><div class="plNum">' + trackNumber + '.</div><div class="plTitle">' + trackName + '</div><div class="plLength">' + '' + '</div></div></li>');
                        }),
                        trackCount = tracks.length,
                        npAction = $('#npAction'),
                        npTitle = $('#npTitle'),
                        audio = $('#audio1').bind('play', function () {
                            playing = true;
                            npAction.text('Now Playing...');
                        }).bind('pause', function () {
                            playing = false;
                            npAction.text('Paused...');
                        }).bind('ended', function () {
                            npAction.text('Paused...');
                            if ((index + 1) < trackCount) {
                                index++;
                                loadTrack(index);
                                audio.play();
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }).get(0),
                        btnPrev = $('#btnPrev').click(function () {
                            if ((index - 1) > -1) {
                                index--;
                                loadTrack(index);
                                if (playing) {
                                    audio.play();
                                }
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }),
                        btnNext = $('#btnNext').click(function () {
                            if ((index + 1) < trackCount) {
                                index++;
                                loadTrack(index);
                                if (playing) {
                                    audio.play();
                                }
                            } else {
                                audio.pause();
                                index = 0;
                                loadTrack(index);
                            }
                        }),
                        li = $('#plList li').click(function () {
                            var id = parseInt($(this).index());
                            if (id !== index) {
                                playTrack(id);
                            }
                        }),
                        loadTrack = function (id) {
                            $('.plSel').removeClass('plSel');
                            $('#plList li:eq(' + id + ')').addClass('plSel');
                            npTitle.text(tracks[id].name + ' - ' + tracks[id].user + ' - ' + tracks[id].date);
                            index = id;
                            audio.src = mediaPath + tracks[id].file;
                        },
                        playTrack = function (id) {
                            loadTrack(id);
                            audio.play();
                        };
                    extension = audio.canPlayType('audio/mpeg') ? '.mp3' : audio.canPlayType('audio/ogg') ? '.ogg' : '';
                    loadTrack(index);
                }
            });
        });

    </script>
{% endblock %}