{% extends 'base-access.twig' %}
    {% block title %}Login{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a style="color: white" href="{{ path('home') }}"><b>{{ app['nome.blog'] }}</b></a>
        </div>

        {% if sucesso is defined %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">x</span></button>
                <strong>Sucesso!</strong> {{ sucesso }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">x</span></button>
                <strong>Erro!</strong> {{ error }}
            </div>
        {% endif %}

        {% for alert in app.session.flashbag.get('mensagem') %}
            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
        {% endfor %}

        <div class="login-box-body" style="background-color: transparent">
            <p class="login-box-msg" style="color: white">Entre para iniciar a sess&atilde;o</p>
            <form method="post" action="{{ path('login_check') }}">
                <div class="form-group has-feedback">
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email ou Nickname">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="_password" class="form-control" placeholder="Password" required="required" title="Informe a Senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <p class="control">
                            <label class="checkbox icheck" style="color: white">
                                <input type="checkbox" id="remember_me" name="_remember_me">
                                Lembrar-me
                            </label>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-google btn-block btn-flat">Entrar</button>
                    </div>
                </div>
                <a href="{{ path('register') }}" class="text-center">N&atilde;o possou registro.</a>
            </form>

            <!--<div>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                {% if app.user %}
                    <p>Hello {{ app.user.username }}! Your email is {{ app.user.email }}</p>
                    <a href="{{ logout_path }}">Logout</a>
                {% else %}
                    <br>
                    <h4>Acessar como:</h4>
                    <ul>
                        <li><a href="{{ login_paths.facebook }}">Login with Facebook</a></li>
                        <li><a href="{{ login_paths.twitter }}">Login with Twitter</a></li>
                        <li><a href="{{ login_paths.google }}">Login with Google</a></li>
                        <li><a href="{{ login_paths.github }}">Login with GitHub</a></li>
                    </ul>
                {% endif %}
            </div>-->
        </div>
    </div>


{% endblock %}
