{% extends 'template-login-new.html.twig' %}

{% block title %}Login{% endblock %}

{% block header %}
    <section id="hero-area"
             style="padding: 0 0;background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <div class="login-box">
                                <div class="login-logo">
                                    <a href="{{ path('home') }}"><b>{{ app['nome.blog'] }}</b></a>
                                </div>

                                <div class="login-box-body" style="background-color: transparent">
                                    <p class="login-box-msg">Entre para iniciar a sess&atilde;o</p>

                                    {% if sucesso is defined %}
                                        <div class="alert alert-success" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                        aria-hidden="true">x</span></button>
                                            {{ sucesso }}
                                        </div>
                                    {% endif %}
                                    {% if error %}
                                        <div class="alert alert-danger alert-dismissable" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                                        aria-hidden="true">x</span></button>
                                            {% if error == 'Bad credentials.' %}Usu&aacute;rio ou Senha s&atilde;o inv&aacute;lidos.{% else %}{{ error }}{% endif %}
                                        </div>
                                    {% endif %}

                                    <form method="post" action="{{ path('login_check') }}">
                                        <div class="form-group has-feedback">
                                            <input type="text" name="_username" value="{{ last_username }}"
                                                   class="input" placeholder="Email" required>
                                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input type="password" name="_password" class="input"
                                                   placeholder="Senha" required="required" title="Informe a Senha">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <a href="{{ path('register') }}"
                                                   class="button is-danger is-fullwidth">Registrar</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <button type="submit" class="button is-success is-fullwidth">
                                                    Entrar
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12"><br>
                                                <a href="{{ path('home') }}" class="button is-link is-fullwidth">P&aacute;gina
                                                    Inicial.</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}