{% extends 'template.html.twig' %}

{% block title %}{{ musica.nome }} - Anexos{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ musica.numero }} - {{ musica.nome }}</h1>
                        <p>{{ musica.categoria.colecao.nome }} / {{ musica.categoria.nome }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for anexo in anexos %}
                        <div class="col-lg-6 col-md-6">
                            <div class="card" style="width: 100%">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-5">{{ anexo.nome }}</p>
                                        </div>
                                    </div>
                                    <a href="/assets/blog/musicas/{{ anexo.link }}" target="_blank"><button class="button is-success is-outlined">Visualizar</button></a>
                                    <a href="/assets/blog/musicas/{{ anexo.nome }}" download><button class="button is-primary is-outlined">Baixar</button></a>
                                </div>
                            </div>
                            <br>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}