{% extends 'template.html.twig' %}

{% block title %}{{ musica.nome }} - Anexos{% endblock %}

{% block stylesheet%}
    <link href="{{ asset('assets/plugins/jQuery-Chord-Transposer/jquery.transposer.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset('assets/blog/img/config/' ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ musica.numero }} - {{ musica.nome }}</h1>
                        <p>{{ musica.categoria.colecao.nome }} / {{ musica.categoria.nome }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                    <div class="card" style="width: 100%; min-width: 600px">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">Letra</p>
                                    <div id="fontlinks">
                                        <a id="incfont" style="text-decoration: none" class="button is-white buttonfont">A+</a>
                                        <a id="decfont" style="text-decoration: none" class="button is-white buttonfont">A-</a>
                                    </div>
                                    <br>
                                    <pre id="content" style="background-color: transparent; border: none;" data-key="{{ musica.tom }}">{{ musica.letra|convert_encoding('UTF-8', 'iso-8859-1') }}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for anexo in anexos %}
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="{{ asset(app['default.card']) }}" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ anexo.nome }}</h4>
                                <a href="/web/assets/blog/musicas/{{ anexo.link }}" target="_blank"><button class="button is-small is-success is-outlined">Visualizar</button></a>
                                <a href="/web/assets/blog/musicas/{{ anexo.nome }}" download><button class="button is-small is-primary is-outlined">Baixar</button></a>
                                {% for tag in anexo.anexoTags.tag %}
                                    <button class="button is-info is-outlined">{{ tag.nome }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}
{% block javascript %}
    <script src="{{ asset('assets/plugins/jQuery-Chord-Transposer/jquery.transposer.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("pre").transpose();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#incfont').click(function(){
                curSize= parseInt($('#content').css('font-size')) + 2;
                if(curSize<=32)
                    $('#content').css('font-size', curSize);
            });
            $('#decfont').click(function(){
                curSize= parseInt($('#content').css('font-size')) - 2;
                if(curSize>=5)
                    $('#content').css('font-size', curSize);
            });
        });
    </script>
{% endblock %}