{% extends 'base-new.html.twig' %}

{% block meta %}{% endblock %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

    <div id="menu"
         data-usuario-id="{{ app.usuario.id }}"
         data-usuario-nome="{{ app.usuario.nome }}"
         data-usuario-roles="{{ app.usuario.roles }}"
         data-usuario-avatar="{{ app.usuario.avatar }}"
         data-usuario-grupo-id="{{ app.usuario.grupo.id }}"
         data-usuario-grupo-nome="{{ app.usuario.grupo.nome }}"
         data-pesquisar="{{ path('pesquisar_3') }}"
         data-dir-avatar="{{ app['dir.avatar'] }}"
         data-avatar-default="{{ app['avatar.default'] }}"
         data-config-nome="{{ app['config'].nome }}"
         data-config-img="{{ asset(app['dir.base'] ~ 'assets/blog/ico/favicon.ico') }}"
    ></div>

    {% block header %}

        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{% block headerNome %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block content %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">{{ app.config.nome }}, Direitos Reservados. Copyright: <span>2017</span></p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="http://www.radiomaanaim.com.br/">Acesse a Rádio Maanaim</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}