{% extends 'base-new.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

    <div id="menu"
         data-usuario-id="{{ app.usuario.id }}"
         data-usuario-nome="{{ app.usuario.nome }}"
         data-usuario-roles="{{ app.usuario.roles }}"
         data-usuario-avatar="{{ app.usuario.avatar }}"
         data-pesquisar="{{ path('pesquisar') }}"
         data-dir-avatar="{{ app['dir.avatar'] }}"
         data-avatar-default="{{ app['avatar.default'] }}"
         data-config-nome="{{ app['config'].nome }}"
         data-config-img="{{ asset(app['dir.base'] ~ 'assets/blog/ico/favicon.ico') }}"
    ></div>
    <script src="{{ asset(app['dir.base'] ~ 'assets/build/template.js') }}"></script>

    {% block header %}

        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block wow fadeInUp animated slide" data-wow-delay=".3s">
                            <h2>{% block headerNome %}{% endblock %}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block content %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Copyright: <span>2016</span></p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
            </div>
        </div>
    </footer>
{% endblock %}