{% extends 'base.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">{{ app['config'].nome }} - {% if app['usuario.sessao'].nome %}<small>{{ app['usuario.sessao'].nome }}</small>{% endif %}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search">Pesquisar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% for item in app['menus'] %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path(item.url) }}">{{ item.nome }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('postForm') }}">Novo Post</a></li>
                        <li><a href="{{ path('grid_posts') }}">Lista Post</a></li>
                        <li><a href="{{ path('blog') }}">Configura&ccedil;&otilde;es</a></li>
                    {% endif %}
                    <li>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ path('login') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div id="search">
        <form action="{{ path('search') }}" method="get">
            <input type="search" name="q" placeholder="Pesquisar" autocomplete="off"/>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Eu Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascript %}{% endblock %}