{% extends 'base.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand"
                   href="{% if app['usuario.sessao'].nome %}{{ path('user_index') }}{% else %}{{ path('home') }}{% endif %}">{{ app['config'].nome }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for item in app['menus'] %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path(item.url) }}">{{ item.nome }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('postForm') }}">Novo Post</a></li>
                        <li><a href="{{ path('grid_posts') }}">Lista Post</a></li>
                        <li><a href="{{ path('blog') }}">Configura&ccedil;&otilde;es</a></li>
                        <li><a href="{{ path('usuarios') }}">Usu&aacute;rios</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('perfil', { user : app['usuario.sessao'].id }) }}">Perfil
                                <small> {{ app['usuario.sessao'].nome }}</small>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('usuario_atividades', { user : app['usuario.sessao'].id }) }}">Atividades</a>
                        </li>
                        <li>
                            <a href="{{ path('pesquisar') }}">Pesquisar</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{ path('pesquisar_home') }}">Pesquisar</a></li>
                    {% endif %}

                    <li>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('logout') }}">Sair</a>
                        {% else %}
                            <a href="{{ path('login') }}">Entrar</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; {{ app['nome.blog'] }} Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascript %}{% endblock %}