{% extends 'template-new.html.twig' %}

{% block title %}Arquivos{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/jquery.filer.css') }}" type="text/css"
          rel="stylesheet"/>

    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/custom.css') }}" type="text/css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Arquivos{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <button id="btnAddArquivos" class="button is-danger" data-toggle="modal"
                            data-target="#modal-musicas">Adicionar Arquivo
                    </button>

                    <hr class="small"/>

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    <div class="col-sm-12 col-xs-12">


                        <figure class="wow fadeInLeft animated portfolio-item">

                            {% for anexo in anexos %}

                                <figcaption>
                                    <h4>
                                        {{ anexo.nome }}
                                    </h4>

                                    <p>
                                        {% if not anexo.isExterno %}

                                            <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.link }}"
                                               target="_blank">
                                                <button class="button is-small is-success">
                                                    Visualizar
                                                </button>
                                            </a>
                                            <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.nome }}"
                                               download>
                                                <button class="button is-small is-primary">
                                                    Baixar
                                                </button>
                                            </a>

                                        {% else %}

                                            <a href="/user/praise/{{ musica.id }}-{{ musica.nome|lower|trim|url_encode }}/video/{{ anexo.id }}">
                                                <button class="button is-small is-success">
                                                    Ir para o Link
                                                </button>
                                            </a>

                                        {% endif %}

                                        {% if anexo.usuario.id == app.usuario.id or is_granted('ROLE_ADMIN') %}
                                            <button class="button is-danger is-small btnRemover"
                                                    value="{{ anexo.id }}">Remover
                                            </button>

                                            <button class="button is-succees is-small btnVincular"
                                                    data-toggle="modal"
                                                    data-target="#modal-vincular-musicas"
                                                    data-anexo="{{ anexo.nome }}"
                                                    value="{{ anexo.id }}">Vincular Musica
                                            </button>
                                        {% endif %}
                                    </p>
                                </figcaption>

                            {% else %}

                                <p class="lead"><i class="fa fa-frown-o fa-6"></i>
                                    Nenhum arquivo encontrado. Seja o primeiro &agrave; adicionar arquivos. </p>

                            {% endfor %}

                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <div id="modal-musicas" class="modal fade" tabIndex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Arquivos</h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <input class="input" type="file" name="files[]" id="filer_input4" multiple/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button is-danger is-pulled-left" data-dismiss="modal"
                                onclick="window.location.reload()">Fechar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modal-vincular-musicas" class="modal fade" tabIndex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Vincular Arquivos</h4>
                </div>
                <form class="form-horizontal" id="form-vincular">
                    <div class="modal-body">
                        <input type="hidden" name="anexo" id="anexo"/>
                            <label>Arquivo Selecionado</label>
                        <p class="control">
                            <input type="text" class="input" readonly="readonly" id="anexo-selecionado">
                        </p>
                        <label>Selecione a Musica</label>
                        <p class="control">
                            <select class="selectpicker show-tick" name="musica" id="musica" data-container="body" data-live-search="true" data-width="100%">
                                {% for categoria in musicas %}
                                    <optgroup label="{{ categoria.nome }}">
                                        {% for musica in categoria.musicas %}
                                            <option value={{ musica.id }}>{{ musica.numero }} {{ musica.nome }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button is-danger is-pulled-left" data-dismiss="modal"
                                onclick="window.location.reload()">Fechar
                        </button>
                        <button type="submit" class="button is-success is-pulled-right">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/file-uploader-drag-drop2.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/js/jquery.filer.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script>

        $(document).ready(function () {

            $(".btnVincular").click(function () {
                $("#anexo").val($(this).val());
                $("#anexo-selecionado").val($(this).data('anexo'));

            });

            $("#form-vincular").submit(function (e) {

                e.preventDefault();

                let musica = $("#musica").val();
                let anexo = $("#anexo").val();

                block_screen();

                $.ajax({
                    type: "POST",
                    url: "/user/anexos/vincular",
                    data : {
                        musica : musica,
                        anexo : anexo,
                    },
                    cache: false,
                    success: function (data) {
                        unblock_screen();
                        alertify.success(data.msg);
                        window.location.reload();
                    },
                    error: function () {
                        unblock_screen();
                        alertify.error("Ocorreu um erro.");
                    }
                });

            });


            $(".btnRemover").click(function (e) {

                e.preventDefault();

                let id = $(this).val();

                alertify.confirm("Deseja remover este arquivo?", function () {

                    block_screen();

                    $.ajax({
                        type: "POST",
                        url: "/user/musica/anexos/remover",
                        data : {
                            id : id
                        },
                        cache: false,
                        success: function (data) {
                            unblock_screen();
                            alertify.success(data.message);
                            window.location.reload();
                        },
                        error: function () {
                            unblock_screen();
                            alertify.error("Ocorreu um erro.");
                        }
                    });
                }).setting("labels", {"ok": "Sim", "cancel": "Cancelar"});
            })
        });

    </script>

{% endblock %}