{% extends 'template-new.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Downloads{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Arquivo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for down in downloads %}

                            <tr>
                                <td>{{ down.id }}</td>
                                <td><p class="title is-5">
                                        <a href="{{ path('perfil', { id : down.usuario.id, nome : down.usuario.nome }) }}">{{ down.usuario.nome }}</a>
                                    </p></td>
                                <td><p class="title is-6">{{ down.anexo.nome }}</p></td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Usuario</th>
                            <th>Arquivo</th>
                        </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
        </div>
    </article>

{% endblock %}