{% extends 'template-new.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Suas Atividades{% endblock %}

{% block content %}

    <article>
        <div class="container wow fadeInUp animated slide" data-wow-delay=".6s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% if logs|length > 0 or musicas|length > 0 or musica_anexos|length > 0 or posts|length > 0%}

                    {% if logs|length > 0 %}
                        <div class="card wow fadeInUp animated slide" data-wow-delay=".6s" style="width: 100%">
                            <div class="card-content">
                                <h3>Suas Atividades</h3>
                                {% for log in logs %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="is-6 is-small">{{ log.mensagem }}
                                                <a class="button is-light is-small is-pulled-right">{{ log.cadastro|date('j, F, y H:i:s') }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    {% endif %}

                    {% if musicas|length > 0 %}
                    <div class="card wow fadeInUp animated slide" data-wow-delay=".6s" style="width: 100%">
                        <div class="card-content">
                        <h3>Musicas adicionadas por voc&ecirc;</h3>
                        {% for musica in musicas %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ path('musica_anexos', { musicaId : musica.id }) }}">{{ musica.numero }} - {{ musica.nome }}</a></h4>
                                    <a class="button is-light is-small is-pulled-right">{{ musica.cadastro|date('j, F, y H:i:s') }}</a>
                                </div>
                            </div>
                        {% endfor %}
                            </div>
                            </div>
                        <br>
                    {% endif %}

                    {% if musica_anexos|length > 0 %}
                    <div class="card wow fadeInUp animated slide" data-wow-delay=".6s" style="width: 100%">
                        <div class="card-content">
                        <h3>Arquivos adicionados por voc&ecirc;</h3>
                        {% for anexo in musica_anexos %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ anexo.nome }}</h4>
                                    <a href="{{ path('musica_anexos', { musicaId : anexo.musica.id }) }}">
                                        <button class="button is-small is-light">
                                            Ir para musica
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.link }}"
                                       target="_blank">
                                        <button class="button is-small is-success is-inverted">
                                            Visualizar
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.nome }}"
                                       download>
                                        <button class="button is-small is-primary is-inverted">
                                            Baixar
                                        </button>
                                    </a>
                                    <a class="button is-light is-small is-pulled-right">{{ anexo.cadastro|date('j, F, y H:i:s') }}</a>
                                </div>
                            </div>
                        {% endfor %}
                            </div>
                            </div>
                        <br>
                    {% endif %}

                    {% if posts|length > 0 %}
                        <div class="card wow fadeInUp animated slide" data-wow-delay=".6s" style="width: 100%">
                            <div class="card-content">
                                <h3>Posts adicionados por voc&ecirc;</h3>
                                {% for post in posts %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="{{ path('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">{{ post.titulo }}</a></h4>
                                            <a class="button is-light is-small is-pulled-right">{{ post.cadastro|date('j, F, y H:i:s') }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    {% endif %}

                 {% else %}

                     Nenhum registro Encontrado.

                 {% endif %}

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}