{% extends 'template.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Sua Atividade</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% if musicas|length > 0 or musica_anexos|length > 0 or posts|length > 0%}

                    {% if musicas|length > 0 %}
                    <div class="card" style="width: 100%">
                        <div class="card-content">
                        <h3>Musicas adicionadas por voc&ecirc;</h3>
                        {% for musica in musicas %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ path('musica_anexos', { musicaId : musica.id }) }}">{{ musica.numero }} - {{ musica.nome }}</a><small> {{ musica.categoria.nome }}</small></h4>
                                </div>
                            </div>
                        {% endfor %}
                            </div>
                            </div>
                        <br>
                    {% endif %}

                    {% if musica_anexos|length > 0 %}
                    <div class="card" style="width: 100%">
                        <div class="card-content">
                        <h3>Arquivos adicionados por voc&ecirc;</h3>
                        {% for anexo in musica_anexos %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ anexo.nome }}</h4>
                                    <a href="{{ path('musica_anexos', { musicaId : anexo.musica.id }) }}">
                                        <button class="button is-small is-white">
                                            Ir para musica
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.link }}"
                                       target="_blank">
                                        <button class="button is-small is-success is-outlined">
                                            Visualizar
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.nome }}"
                                       download>
                                        <button class="button is-small is-primary is-outlined">
                                            Baixar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                            </div>
                            </div>
                        <br>
                    {% endif %}

                 {% else %}

                     Nenhum registro Encontrado.

                 {% endif %}

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}