{% extends 'template-new.html.twig' %}

{% block title %}{% if colecao.nome %}{{ colecao.nome }}{% else %}Categorias{% endif %}{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}{% if colecao.nome %}{{ colecao.nome }}{% else %}Categorias{% endif %}{% endblock %}

{% block content %}

    <div id="categorias"
         data-colecao="{{ colecao.id }}"
         data-colecao-nome="{{ colecao.nome }}"
         data-source="{{ path('api_categorias', { id : colecao.id, nome : colecao.nome }) }}"
         data-user="{{ app.usuario.roles }}"
    ></div>

{% endblock %}