{% extends 'template.html.twig' %}

{% block title %}{% if colecao.nome %}{{ colecao.nome }}{% else %}Categorias{% endif %}{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}{% if colecao.nome %}{{ colecao.nome }}{% else %}Categorias{% endif %}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <button data-toggle="modal" data-target="#myModal" class="button is-light is-small addCategoria">Nova Categoria</button>
                        <hr class="small">
                    {% endif %}
                    {% for categoria in categorias %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                            href="{{ path('musicas', { categoriaId : categoria.id }) }}">{{ categoria.nome }}</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="button is-white is-pulled-right is-small openMenu"
                                           data-toggle="modal"
                                           data-target="#myModal" data-id="{{ categoria.id }}"
                                           data-nome="{{ categoria.nome }}"
                                           data-colecao="{{ categoria.colecao.id }}">Editar
                                        </a>
                                        <a class="button mudarStatus {% if categoria.ativo %} is-danger {% else %} is-success {% endif %} is-inverted is-pulled-right is-small"
                                           categoria_id="{{ categoria.id }}" href="#">{% if categoria.ativo %} Inativar {% else %} Ativar {% endif %}
                                        </a>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form class="form-horizontal" method="POST">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Categoria</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="id" id="id">
                                    <div class="control is-horizontal">
                                        <div class="control-label">
                                            <label for="nome">Nome</label>
                                        </div>
                                        <div class="control">
                                            <div class="is-fullwidth">
                                                <input class="input" type="text" placeholder="Nome" name="nome" id="nome" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control is-horizontal">
                                        <div class="control-label">
                                            <label for="colecao">Cole&ccedil;&atilde;o</label>
                                        </div>
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select name="colecao" id="colecao" required>
                                                    <option value=""></option>
                                                    {% for colecao in colecoes %}
                                                        <option value="{{ colecao.id }}">{{ colecao.nome }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <p class="control">
                                        <button class="button is-success" type="submit">
                                            Salvar
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}{{ parent() }}
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/pages/categorias.js') }}"></script>
{% endblock %}