{% extends 'template-new.html.twig' %}

{% block title %}Cole&ccedil;&otilde;es{% endblock %}

{% block stylesheet %}{{ parent() }}
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/pages/colecoes.js') }}"></script>
{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Cole&ccedil;&otilde;es{% endblock %}

{% block content %}

    <article>
        <div class="container wow fadeInUp animated slide" data-wow-delay=".6s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <button data-toggle="modal" data-target="#myModal" class="button is-light is-small addColecao">
                            Nova Cole&ccedil;&atilde;o
                        </button>
                        <hr class="small">
                    {% endif %}
                    {% for colecao in app['colecoes'] %}
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <img style="min-height: 160px; max-height: 160px; margin: auto;" src="{% if colecao.imagem %}{{ asset(app['dir.colecao'] ~ colecao.imagem ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}" class="img-responsive" alt="this is a title" >
                                    <div class="overlay">

                                    </div>
                                </div>
                                <figcaption>
                                    <h4>
                                        <a href="{{ path('categorias', { colecaoId : colecao.id, nome : colecao.nome }) }}">
                                            {{ colecao.nome }}
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="button is-white is-pulled-right is-small openMenu"
                                               data-toggle="modal"
                                               data-target="#myModal" data-id="{{ colecao.id }}"
                                               data-nome="{{ colecao.nome }}"
                                               data-descricao="{{ colecao.descricao }}">Editar
                                            </a>
                                            <a class="button {% if colecao.ativo %} is-danger {% else %} is-success {% endif %} is-inverted is-pulled-right is-small mudarStatus"
                                               href="#" situacao="{{ colecao.ativo }}"
                                               colecao_id="{{ colecao.id }}">{% if colecao.ativo %} Inativar {% else %} Ativar {% endif %}
                                            </a>
                                        {% endif %}
                                    </h4>
                                </figcaption>
                            </figure>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="formColecao" class="form-horizontal" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Cole&ccedil;&atilde;o</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" id="id">
                            <input type="hidden" name="role" id="role" value="user">
                            <label for="nome">Nome</label>
                            <input class="input is-primary" type="text" placeholder="Nome" name="nome" id="nome" required>
                            <label for="descricao">Descri&ccedil;&atilde;o</label>
                            <input class="input" type="text" placeholder="Descri&ccedil;&atilde;o" name="descricao" id="descricao" required>
                            <label for="background">Imagem de Fundo</label>
                            <input type="file" class="input is-primary" name="background" id="background" placeholder="Imagem de Fundo">
                        </div>
                        <div class="modal-footer">
                            <p class="control">
                                <button id="confirmar" class="button is-success" type="submit">
                                    Salvar
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}