{% extends 'template.html.twig' %}

{% block title %}Hinos{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Hinos</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if is_granted('ROLE_ADMIN') %}
                        <button data-toggle="modal" data-target="#myModal" class="button is-light is-small addColecao">Nova Cole&ccedil;&atilde;o</button>
                        <hr class="small">
                    {% endif %}
                    {% for colecao in colecoes %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('categorias', { colecaoId : colecao.id, nome : colecao.nome }) }}">{{ colecao.nome }}</a></h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form class="form-horizontal" method="POST" action="{{ path('save_colecao') }}">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Adicionar Cole&ccedil;&atilde;o</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="id" id="id">
                                    <p class="control has-icon">
                                        <input class="input" type="text" placeholder="Nome" name="nome" id="nome"
                                               required>
                                        <i class="fa fa-edit"></i>
                                    </p>
                                    <p class="control has-icon">
                                        <input class="input" type="text" placeholder="Descri&ccedil;&atilde;o"
                                               name="descricao" id="descricao" required>
                                        <i class="fa fa-edit"></i>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <p class="control">
                                        <button class="button is-success" type="submit">
                                            Salvar
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}