{% extends 'template.html.twig' %}

{% block title %}Hinos{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Hinos</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for colecao in colecoes %}
                        <div class="media">
                            <!--<div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="{{ asset(app['default.card']) }}" alt="...">
                                </a>
                            </div>-->
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('categorias', { colecaoId : colecao.id, nome : colecao.nome }) }}">{{ colecao.nome }}</a></h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}