{% extends 'template-new.html.twig' %}

{% block title %}Cole&ccedil;&otilde;es{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Cole&ccedil;&otilde;es{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if app.session.flashbag.has('mensagem') %}
                        {% for alert in app.session.flashbag.get('mensagem') %}
                            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                        {% endfor %}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <button data-toggle="modal" data-target="#myModal" class="button is-light is-small addColecao">
                            Nova Cole&ccedil;&atilde;o
                        </button>
                        <hr class="small">
                    {% endif %}

                    <div id="colecoes"
                         data-img="{{ app['dir.colecao'] }}"
                         data-source="{{ path('api_colecoes') }}"
                         data-defaul-image="{{ app['background.default'] }}"
                         data-user="{{ app['usuario'].roles }}"></div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}