{% extends 'template-new.html.twig' %}

{% block title %}{{ app.blog.nome }}{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block stylesheet %}
    <style>
        .colecao-imagem {
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            background-size: 100% 100%;
        }
    </style>

{% endblock %}

{% block content %}

    <div id="user" data-menu="{{ path('api_menu') }}"
         data-dir-menu="{{ app['dir.menu'] }}"
         data-colecao="{{ path('api_colecoes') }}"
         data-dir-colecao="{{ app['dir.colecao'] }}"
         data-default-background="{{ app['background'] }}"
         data-musica="{{ path('api_musicas_recentes') }}"
         data-videos="{{ path('videos') }}"
         data-user="{{ app.usuario.nome }}"
         data-app="{{ app.blog.subtitulo }}"></div>

{% endblock %}