{% extends 'template.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ app['nome.blog'] }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for menu in app['menus'] %}

                    <div class="col-lg-4 col-md-5">
                        <div class="card" style="height: 270px;">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4 class="media-heading"><a href="{{ path(menu.url) }}">{{ menu.nome }}</a></h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}