{% extends 'template.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ app['nome.blog'] }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if logs|length > 0 %}
                        <div class="card" style="width: 100%">
                            <div class="card-content">
                                <h3>Atividades Recentes</h3>
                                {% for log in logs %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="media-heading">{{ log.usuario.nome }} {{ log.mensagem }}
                                                <a class="button is-light is-small is-pulled-right">{{ log.cadastro|date('j, F, y H:i:s') }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for musica in musicas %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="media-heading">{{ musica.usuario.nome }} adicionou <a href="{{ path('musica_anexos', { musicaId : musica.id }) }}">{{ musica.numero }} - {{ musica.nome }}</a>
                                                <a class="button is-light is-small is-pulled-right">{{ musica.cadastro|date('j, F, y H:i:s') }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for anexo in musica_anexos %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="media-heading">{{ anexo.usuario.nome }} adicionou {{ anexo.nome }}
                                                <a class="button is-light is-small is-pulled-right">{{ anexo.cadastro|date('j, F, y H:i:s') }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for post in posts %}
                                    <div class="media">
                                        <div class="media-body">
                                            <h6 class="media-heading">{{ post.usuario.nome }} adicionou o post <a href="{{ path('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">{{ post.titulo }}</a>
                                                <a class="button is-light is-small is-pulled-right">{{ post.cadastro|date('j, F, y H:i:s') }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                    {% endif %}

                    {% for menu in app['menus'] %}
                    <div class="col-lg-4 col-md-5">
                        <div class="card" style="height: 270px;">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="{% if menu.icon is not null %}{{ asset(app['dir.menu'] ~ menu.icon ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h4 class="media-heading"><a href="{{ path(menu.url) }}">{{ menu.nome }}</a></h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <br>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}