{% extends 'template-new.html.twig' %}

{% block title %}{{ app.blog.nome }}{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block stylesheet %}
    <style>
        .colecao-imagem {
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            background-size: 100% 100%;
        }
    </style>

{% endblock %}

{% block content %}

    <section id="hero-area">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp">
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide">
                            <span>Ol&aacute;,{{ app.usuario.nome }}.</span><br />
                        </h1>
                    </section>
                    <div class="container is-half">
                        <p class="title is-3 wow fadeInUp animated">
                            {{app.blog.subtitulo}}
                        </p>
                    </div>
                    <a class="button is-success is-large" href="/user/praise/new">Sugerir Louvor</a>
                    <a class="button is-primary is-large" href="/user/sugestao">Sugestão</a>
                    <a class="button is-danger is-large" href="/user/sugestao">Reportar Erro</a>
                </div>
            </div>
        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title is-4">Adicione ou Encontre o seu Grupo</h2>
                    <div class="row">
                        <a href="/user/grupos" class="button is-danger is-large is-light">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Coleções</h1>
            </div>
            <div class="row">

                {% for colecao in colecoes %}

                    <div class="col-sm-3 col-xs-12">
                        <figure>
                            <div class="img-wrapper">
                                <a href="{{ path('view_collection', { id : colecao.id, nome : colecao.nome|lower|url_encode }) }}">
                                    <img src="{{ app['dir.colecao'] ~ colecao.imagem }}" class="img-responsive" alt="..." />
                                    <div class="overlay"></div>
                                </a>
                            </div>
                            <figcaption>
                                <p class="title is-3">
                                    <a href="{{ path('view_collection', { id : colecao.id, nome : colecao.nome|lower|replace(' ', '-') }) }}">
                                        {{colecao.nome}}
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title">Adicione sua playlists</h2>
                    <div class="row">
                        <a href="{{ path('playlist') }}" class="button is-danger is-large is-light">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

    <br>

    <section>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Últimas Adições</h1>
            </div>
            <div class="row">
                <figure>
                {% for musica in musicas %}
                    <figcaption>
                        <p class="title is-4">
                            <a href="{{ path('musica_anexos', { id : musica.id, name : musica.nome|lower|url_encode }) }}">{{ musica.numero }} {{ musica.nome }}</a>
                        </p>
                    </figcaption>
                {% endfor %}
                </figure>
            </div>
        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title">Videos</h2>
                    <div class="row">
                        <a href="/user/musica/anexos/videos" class="button is-danger is-large is-light">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}