{% extends 'template-new.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block content %}

    <div id="user" data-menu="{{ path('api_menu') }}"
         data-dir-menu="{{ app['dir.menu'] }}"
         data-colecao="{{ path('api_colecoes') }}"
         data-dir-colecao="{{ app['dir.colecao'] }}"
         data-default-background="{{ app['background'] }}"
         data-musica="{{ path('api_musicas_recentes') }}"
         data-videos="{{ path('videos') }}"
         data-user="{{ app.usuario.nome }}"
         data-app="{{ app.blog.subtitulo }}"></div>

{% endblock %}