{% extends 'template-new.html.twig' %}

{% block title %}{{ app.blog.nome }}{% endblock %}

{% block header %}&nbsp;{% endblock %}

{% block content %}

    <section id="hero-area">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp">
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide">
                            <span>Ol&aacute;,{{ app.usuario.nome }}.</span><br/>
                        </h1>
                    </section>
                    <div class="container is-half">
                        <p class="title is-3 wow fadeInUp animated">
                            {{ app.blog.subtitulo }}
                        </p>
                    </div>
                    <a class="button is-success is-large" href="/user/praise/new">Sugerir Louvor</a>
                    <a class="button is-primary is-large" href="/user/sugestao">Sugestão</a>
                    <a class="button is-danger is-large" href="/user/sugestao">Reportar Erro</a>
                </div>
            </div>

        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title is-4">Coleções</h2>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section>
        <div class="container">
            <br/>
            <div class="row">
                <div class="column">
                    {% for colecao in colecoes %}
                        <figure>
                            <figcaption>
                                <p class="title is-3">
                                    <a href="{{ path('view_collection', { id : colecao.id, nome : colecao.nome|lower|replace(' ', '-') }) }}">
                                        {{ colecao.nome }}
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>

        </div>
        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title">Últimas Atualizações</h2>
                </div>
            </div>
        </div>
        <br>
    </section>

    <br>

    <section>
        <div class="container">
            <br/>
            <div class="row">
                <div class="column">
                    {% for musica in musicas %}
                        <figure>
                            <figcaption>
                                <p class="title is-4">
                                    <a href="{{ path('musica_anexos', { id : musica.id, name : musica.nome|lower|url_encode }) }}">{{ musica.numero }} {{ musica.nome }}</a>
                                </p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="call-to-action">
        <div class="container">
            <div class="col-md-12">
                <div class="block">
                    <h2 class="title">Videos</h2>

                    {% for video in videos %}
                        <div class="col-sm-3 col-xs-12">
                            <figure>
                                <div class="img-wrapper" style="width: 100%;">
                                    {% if video.link is not null %}
                                        <iframe width="100%" height="100%"
                                                src="https://www.youtube.com/embed/{{ video.link }}"
                                                frameborder="0" allowfullscreen></iframe>
                                    {% endif %}
                                </div>
                                <br>
                                <br>
                                <figcaption>
                                    <h4>
                                        <a href="{{ path('musica_anexos', { id : video.musica.id, name : video.musica.nome }) }}"
                                           title="{{ video.nome }}">{{ video.nome|slice(0, 15) }}</a>
                                    </h4>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <a href="/user/musica/anexos/videos" class="button is-danger is-large is-light">Ver mais...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}