{% extends 'template.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Ol&aacute;, {{ app['usuario.sessao'].nome }}.{% endblock %}
{% block headerSubtitulo %}Bem vindo ao {{ app['nome.blog'] }}{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    {% for menu in app['menus'] %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path(menu.url) }}">{{ menu.nome }}</a></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}