{% extends 'template-new.html.twig' %}

{% block title %}{{ app['nome.blog'] }}{% endblock %}

{% block header %}
    <section id="hero-area" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                                <span>Ol&aacute;, {{ app['usuario.sessao'].nome }}.</span><br>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                            Bem vindo ao {{ app['nome.blog'] }}
                        </h2>
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"
                           data-wow-delay=".9s" href="#works" data-section="#works">Iniciar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <section id="works" class="works">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Indice</h1>
            </div>
            <div class="row">
                {% for menu in app['menus'] %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper" style="max-height: 212px; max-width: 177px;">
                                <img src="{{ asset(app['background.default']) }}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{{ path(menu.url) }}">Ir</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="{{ path(menu.url) }}">
                                        {{ menu.nome }}
                                    </a>
                                </h4>
                                <p>
                                    {{ menu.descricao }}
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> <!-- #works -->

{% endblock %}