{% extends 'template-new.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheet %}{{ parent() }}
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.css') }}" rel="stylesheet">
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/css/jquery.filer.css') }}" type="text/css" rel="stylesheet"/>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/pages/musica_anexos.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/js/jquery.filer.min.js') }}"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/file-uploader.js') }}" type="text/javascript"></script>
{% endblock %}

{% block headerNome %}{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}{% endblock %}
{% block headerSubtitulo %}{{ musica.categoria.colecao.nome }} / {{ musica.categoria.nome }}{{ app['nome.blog'] }}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                    <div id="comentarios" data-source="{{ path('api_comentarios', { musicaId : musica.id }) }}"
                         data-source-arquivos="{{ path('api_anexos', { musicaId : musica.id }) }}"
                         data-user="{{ app['usuario'].roles }}" data-user-id="{{ app.usuario.id }}" data-dir-avatar="{{ app['dir.avatar'] }}"
                         data-dir-anexos="{{ app['dir.anexo'] }}"
                         data-musica-id="{{ musica.id }}" data-source-editar="{{ path('view_editar_musica', { id : musica.id, nome : musica.nome }) }}"
                         data-source-add-letra="{{ path('view_editar_letra_musica', { id : musica.id }) }}"
                         data-source-musica="{{ path('api_musica', { id : musica.id }) }}"
                         data-source-videos="{{ path('videos') }}">
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}