{% extends 'template.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{% if categoria.nome %}{{ categoria.nome }}{% else %}Musicas{% endif %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if is_granted('ROLE_USER') %}
                        <a style="text-decoration: none" class="button is-light is-small" href="{{ path('nova_musica', { categoria : categoria.id }) }}">Nova Musica</a>
                        <hr class="small">
                    {% endif %}
                    {% for musica in musicas %}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('musica_anexos', { musicaId : musica.id }) }}">{% if musica.numero %}{{ musica.numero }} - {% endif %}{{ musica.nome }}</a>
                                    {% if musica.usuario.id == app['usuario.sessao'].id or is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('musicas_editar', { id : musica.id }) }}" class="button is-white is-small is-pulled-right">Editar</a>
                                {% endif %}
                                </h4>
                            </div>
                        </div>
                    {% else %}
                        <p class="lead">Nenhum registro encontrado.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

{% endblock %}