{% extends 'template.html.twig' %}

{% block title %}{{ musica.nome }} - Anexos{% endblock %}

{% block stylesheet%}
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ musica.numero }} - {{ musica.nome }}</h1>
                        <p>{{ musica.categoria.colecao.nome }} / {{ musica.categoria.nome }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

                    <ul class="nav nav-tabs" id="myTabs">
                        <li role="presentation" class="active"><a href="#home" data-toggle="tab" style="text-decoration: none">Letra</a></li>
                        <li role="presentation"><a href="#menu" data-toggle="tab" style="text-decoration: none">Anexos</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="home">
                            <div class="card" style="width: 100%">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <div id="fontlinks">
                                                <a id="incfont" style="text-decoration: none" class="button is-white buttonfont">A+</a>
                                                <a id="decfont" style="text-decoration: none" class="button is-white buttonfont">A-</a>
                                                {% if musica.usuario.id == app['usuario.sessao'].id or is_granted('ROLE_ADMIN') %}
                                                    <a href="{{ path('musicas_edit', { id : musica.id }) }}" class="button is-danger" style="text-decoration: none">Editar</a>
                                                {% endif %}
                                            </div>
                                            <br>
                                            <pre id="content" style="background-color: transparent; border: none;" data-key="{{ musica.tom }}">{{ musica.letra }}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="menu">

                            <div class="card" style="width: 100%">
                                <div class="card-content">

                                    <div class="media">
                                        <div class="media-content">
                                            {% if musica.usuario.id == app['usuario.sessao'].id or is_granted('ROLE_ADMIN') %}
                                                <button data-toggle="modal" data-target="#upload" class="button is-danger">Upload de Arquivo</button>
                                            {% endif %}
                                            <br>
                                        </div>
                                    </div>

                                    {% for anexo in anexos %}
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="media-object"
                                                         src="{{ asset(app['default.card']) }}" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ anexo.nome }}</h4>
                                                <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.link }}"
                                                   target="_blank">
                                                    <button class="button is-small is-success is-outlined">
                                                        Visualizar
                                                    </button>
                                                </a>
                                                <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.nome }}"
                                                   download>
                                                    <button class="button is-small is-primary is-outlined">
                                                        Baixar
                                                    </button>
                                                </a>
                                                {% for tag in anexo.anexoTags.tag %}
                                                    <button class="button is-info is-outlined">{{ tag.nome }}</button>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <p class="lead">Nenhum registro encontrado.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{{ path('musica_anexos_upload', { musicaId : musica.id }) }}"  enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload de Arquivos</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="musica" value="{{ musica.id }}">
                        <input class="input" type="file" name="files[]" id="filer_input" multiple="multiple">
                    </div>
                    <div class="modal-footer">
                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("pre").transpose();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#incfont').click(function(){
                curSize= parseInt($('#content').css('font-size')) + 2;
                curSize2= parseInt($('.c').css('font-size')) + 2;
                if(curSize<=32)
                    $('#content').css('font-size', curSize);
                if(curSize2<=32)
                    $('.c').css('font-size', curSize2);
            });
            $('#decfont').click(function(){
                curSize= parseInt($('#content').css('font-size')) - 2;
                curSize2= parseInt($('.c').css('font-size')) - 2;
                if(curSize>=5)
                    $('#content').css('font-size', curSize);
                if(curSize2>=5)
                    $('.c').css('font-size', curSize2);
            });
        });
    </script>
{% endblock %}