{% extends 'template-new.html.twig' %}

{% block title %}Musicas/Arquivos{% endblock %}

{% block headerNome %}Musicas/Arquivos{% endblock %}

{% block stylesheet %}
    <link href="{{ asset(app['dir.base'] ~ 'assets/blog/css/custom.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block content %}

    {% if app.session.flashbag.has('mensagem') %}
        {% for alert in app.session.flashbag.get('mensagem') %}
            <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
        {% endfor %}
    {% endif %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <figure>

                        <figcaption>
                            <a class="button is-success" href="/user/praise/new?category_id={{ categoria.id }}&category_name={{ categoria.nome }}">Adicionar Musica</a>
                        </figcaption>

                        {% for musica in musicas %}

                            <figcaption>
                                <p class="title is-5">
                                     <a href="{{ path('musica_anexos', { id : musica.id, name : musica.nome|lower|url_encode }) }}">{{ musica.numero }} {{ musica.nome }}</a>
                                    <span class="badge is-small is-pulled-right">{{musica.countAnexos}}</span>
                                     <a href="{{ path('view_editar_musica', { id : musica.id, nome : musica.nome|lower|url_encode }) }}" class="button is-info is-inverted is-pulled-right is-small">Editar</a>
                                </p>
                            </figcaption>

                        {% endfor %}

                    </figure>

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block js %}
    <script src="{{ asset(app['dir.base'] ~ 'assets/blog/js/file-uploader-drag-drop2.js') }}" type="text/javascript"></script>
    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery.filer/js/jquery.filer.min.js') }}"></script>
{% endblock %}