{% extends 'template-new.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block headerNome %}{{ musica.nome }}{% endblock %}

{% block content %}

    <article>
        <div class="container wow fadeInUp animated slide" data-wow-delay=".6s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form class="form-horizontal" method="POST" action="{{ path('save_musica') }}">
                        <input type="hidden" name="id" id="id" value="{{ musica.id }}">
                        <input type="hidden" name="rota" id="rota" value="edicao_usuario">
                        <label class="label text-black">Titulo:</label>
                        <p class="control">
                            <input class="input" autofocus type="text" value="{{ musica.nome }}" placeholder="Titulo"
                                   name="nome" id="nome" required>
                        </p>
                        <label class="label text-black">N&uacute;mero:</label>
                        <p class="control">
                            <input class="input" type="text" value="{{ musica.numero }}" placeholder="Numero"
                                   name="numero" id="numero">
                        </p>
                        <label class="label text-black">Tonalidade:</label>
                        <div class="select is-fullwidth">
                            <select id="tonalidade" name="tonalidade" required>
                                {% for tom in app.tonalidades %}
                                    <option value="{{ tom }}" {% if musica.tom == tom %} selected="selected" {% endif %}>{{ tom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="label text-black">Categoria:</label>
                        <div class="select is-fullwidth">
                            <select id="categoria" name="categoria" required>
                                {% for colecao in categorias %}
                                    <optgroup label="{{ colecao.nome }}">
                                        {% for categoria in colecao.categorias %}
                                            <option value="{{ categoria.id }}" {% if musica.categoria.id == categoria.id %} selected="selected" {% endif %}>{{ categoria.nome }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <p class="control">
                            <button class="button is-primary is-fullwidth" type="submit">Salvar</button>
                        </p>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}