{% extends 'template-new.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Adicionar Musica{% endblock %}

{% block content %}

    <article>
        <div class="container wow fadeInUp animated slide" data-wow-delay=".6s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form class="form-horizontal" method="POST" action="{{ path('save_musica') }}">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="role" id="id" value="user">
                        <p class="control">Titulo:
                            <input class="input" type="text" autofocus placeholder="Titulo" name="nome" id="nome" required>
                        </p>
                        <p class="control">N&uacute;mero:
                            <input class="input" type="text" placeholder="N&uacute;mero" name="numero" id="numero">
                        </p>
                        <p class="control">Tonalidade:
                            <select id="tonalidade" class="input" name="tonalidade" required>
                                {% for tom in app['tonalidades'] %}
                                    <option value="{{ tom }}" >{{ tom }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="control">Categoria:{{ categoriatela.id }}
                            <select id="categoria" class="input" name="categoria" required>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}" {% if categoria.id == categoriaTela %} selected="selected" {% endif %}>{{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="control">
                            <button class="button is-danger is-small" type="submit">Salvar</button>
                        </p>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init($('#letra'));</script>
{% endblock %}