{% extends 'template-new.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}{{ musica.nome }} - Letra{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form class="form-horizontal" method="POST" action="{{ path('musica_letra_editar') }}">
                        <input type="hidden" name="id" id="id" value="{{ musica.id }}">
                        <input type="hidden" name="rota" id="rota" value="edicao_letra">
                        <p class="control">Letra:
                        <textarea class="textarea form-control" id="letra" name="letra"
                                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"><pre>{{ musica.letraOriginal }}</pre></textarea>
                        </p>
                        <p class="control">
                            <button class="button is-success is-small" type="submit">Salvar</button>
                        </p>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </article>
    <br>

{% endblock %}

{% block javascript %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init($('#letra'));</script>
    {{ parent() }}
{% endblock %}