{% extends 'template-new.html.twig' %}

{% block title %}{% if categoria.nome is defined %}{{ categoria.nome }}{% else %}Musicas{% endif %}{% endblock %}

{% block headerNome %}{% if categoria.nome is defined %}{{ categoria.nome }}{% else %}Musicas{% endif %}{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <div id="musicas" data-source="{{ path('api_musicas', { categoria : categoria.id }) }}"
                         data-add-musica="{{ path('view_adicionar_musica', { categoria : categoria.id }) }}"
                         data-categoria="{{ categoria.id }}"
                         data-colecao="{{ categoria.colecao.id }}"
                    data-user="{{ app['usuario'].roles }}"></div>
                    <script src="{{ asset(app['dir.base'] ~ 'assets/build/musicas.js') }}"></script>

                </div>
            </div>
        </div>
    </article>

{% endblock %}