{% extends 'template-new.html.twig' %}

{% block title %}Musicas{% endblock %}

{% block headerNome %}Musicas{% endblock %}

{% block content %}

    <div id="musicas" data-source="{{ path('api_praises_form_category', { id : categoria.id, nome : categoria.nome|lower|replace(' ', '_') }) }}"
         data-add-musica="{{ path('view_adicionar_musica', { categoria : categoria.id }) }}"
         data-categoria="{{ categoria.id }}"
         data-categoria-nome="{{ categoria.nome }}"
         data-colecao="{{ categoria.colecao.id }}"
    data-user="{{ app['usuario'].roles }}"></div>

{% endblock %}