{% extends 'template.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Perfil</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form method="post" class="form-horizontal" action="{{ path('usuario_editar') }}"
                          enctype="multipart/form-data">
                        <p class="control">Avatar</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img style="height: 100%" src="{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset('holder.js/100%x100%') }}{% endif %}"
                                     data-src="{{ asset('holder.js/100%x100%') }}" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                            <div>
                                <span class="button is-light is-small btn-file"><span class="fileinput-new">Selecione uma imagem</span><span class="fileinput-exists">Trocar</span><input type="file" name="background"></span>
                                <a href="#" class="button is-link fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <p class="control">Nome
                            <input class="input" type="text" placeholder="Nome" name="nome" value="{{ user.nome }}" required>
                        </p>
                        <p class="control">E-mail
                            <input class="input" type="text" placeholder="email" name="email" value="{{ user.email }}" required>
                        </p>

                        <p class="control">
                            <button class="button is-success is-small" type="submit">
                                Salvar
                            </button>
                            <a href="#" style="text-decoration: none" class="button is-danger is-small">Inativar Conta</a>
                            <a href="#" style="text-decoration: none" class="button is-primary is-small">Alterar Senha</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}