{% extends 'template.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Perfil</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form method="post" class="form-horizontal" action="{{ path('usuario_editar') }}"
                          enctype="multipart/form-data">

                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="Nome" name="nome" value="{{ user.nome }}" required>
                            <i class="fa fa-edit"></i>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="text" placeholder="email" name="email" value="{{ user.email }}" required>
                            <i class="fa fa-link"></i>
                        </p>

                        <p class="control">
                            <button class="button is-success" type="submit">
                                Salvar
                            </button>
                            <a href="#" style="text-decoration: none" class="button is-danger">Inativar Conta</a>
                            <a href="#" style="text-decoration: none" class="button is-primary">Alterar Senha</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}