{% extends 'template-new.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block header %}{{ parent() }}{% endblock %}

{% block headerNome %}Perfil{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for alert in app.session.flashbag.get('mensagem') %}
                        <span id="snackbarid" data-toggle="snackbar" data-content="{{ alert }}"></span>
                    {% endfor %}

                    <form method="post" class="form-horizontal wow fadeInUp animated slide" data-wow-delay=".6s" action="{{ path('usuario_editar') }}"
                          enctype="multipart/form-data">
                        <p class="control">Avatar</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="border: none; width: 200px; height: 150px;">
                                <img style="height: 100%" src="{% if user.avatar %}{{ asset(app['dir.avatar'] ~ user.avatar ) }}{% else %}{{ asset(app['avatar.default'] ) }}{% endif %}"
                                     data-src="{% if user.avatar %}{{ asset(app['dir.avatar'] ~ user.avatar ) }}{% else %}{{ asset(app['avatar.default'] ) }}{% endif %}" alt="usuario">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                            <div>
                                <span class="button is-light is-small is-fullwidth btn-file"><span class="fileinput-new">Selecione uma imagem</span><span class="fileinput-exists">Trocar</span><input type="file" name="background"></span>
                                <a href="#" class="button is-danger is-inverted is-small is-fullwidth fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <p class="control">Nome Completo
                            <input class="input" type="text" placeholder="Nome" name="nome" value="{{ user.nome }}" required>
                        </p>
                        <p class="control">Nickname
                            <input class="input" type="text" placeholder="Nickname" name="nickname" value="{{ user.nickname }}" required>
                        </p>
                        <p class="control">E-mail
                            <input class="input" type="text" placeholder="email" name="email" value="{{ user.email }}" required>
                        </p>

                        <p class="control">
                            <button class="button is-success is-small" type="submit">
                                Salvar
                            </button>
                            <a href="#" style="text-decoration: none" class="button is-danger is-small">Inativar Conta</a>
                            <a href="#" style="text-decoration: none" class="button is-light is-small">Alterar Senha</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}