{% extends "template-new.html.twig" %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>{{ post.titulo }}</h2>
                        <div class="portfolio-meta">
                            <span>Postado por <a href="{{ path('author', { author : post.usuario.id }) }}">{{ post.usuario.nome }}</a> on {{ post.cadastro|date('F d, Y') }}</span>|
                            <span>{% for tag in post.tags %}
                                    {% if tag|length > 0 %}
                                    <a class="tag is-small {{ random(['is-dark', 'is-white', 'is-link', 'is-danger', 'is-primary', 'is-light', 'is-info', 'is-success']) }}" href="{{ path('tag', { id : tag.id, tag : tag.nome }) }}">{{ tag.nome }}</a>
                                {% endif %}
                                {% endfor %}
                            </span>
                            {% if post.usuario.id == app['usuario.sessao'].id or is_granted('ROLE_USER') %}
                                <a class="button is-small {{ random(['is-dark', 'is-white', 'is-link', 'is-danger', 'is-primary', 'is-light', 'is-info', 'is-success']) }}" href="{{ path('edit_post', { id : post.id, name : post.titulo|replace({'.': '', ' ' : '+' })|lower }) }}">Editar Post</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-img">
                        <img class="img-responsive" alt="" src="{% if post.background is not null %}{{ asset(app['dir.post'] ~ post.background ) }}{% endif %}">
                    </div>
                    <div class="post-content">
                        {{ post.descricao|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div id="disqus_thread" style="padding: 2em;"></div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//site-14.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
    <script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <script id="dsq-count-scr" src="//site-14.disqus.com/count.js" async></script>
{% endblock %}