{% extends 'template.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}

    <header class="intro-header" style="background-image: url('{% if app['config'].background is not null %}{{ asset(app['dir.img'] ~ app['config'].background ) }}{% else %}{{ asset(app['background.default']) }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Pesquisar</h1>
                        <form method="get" class="form-horizontal" action="{{ path('pesquisar') }}"
                              enctype="multipart/form-data">

                            <input type="hidden" name="search_form" value="1">

                            <p class="control has-icon">
                                <input class="input is-large" type="text" placeholder="..." name="q" value="{{ user.nome }}" required>
                                <i class="fa fa-search"></i>
                            </p>

                            <p class="control is-fullwidth">
                                <button class="button is-danger is-large is-fullwidth" type="submit">Pesquisar</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% if musicas|length > 0 %}
                        <h4>Musicas</h4>
                        {% for musica in musicas %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ path('musica_anexos', { musicaId : musica.id }) }}">{{ musica.numero }} - {{ musica.nome }}</a><small> {{ musica.categoria.nome }}</small></h4>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if musica_anexos|length > 0 %}
                        <h4>Arquivos</h4>
                        {% for anexo in musica_anexos %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ anexo.nome }}</h4>
                                    <a href="{{ path('musica_anexos', { musicaId : anexo.musica.id }) }}">
                                        <button class="button is-small is-white">
                                            Ir para musica
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.link }}"
                                       target="_blank">
                                        <button class="button is-small is-success is-outlined">
                                            Visualizar
                                        </button>
                                    </a>
                                    <a href="{{ app['dir.base2'] }}/assets/blog/musicas/{{ anexo.nome }}"
                                       download>
                                        <button class="button is-small is-primary is-outlined">
                                            Baixar
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if posts|length > 0 %}
                        <h4>Posts</h4>
                        {% for post in posts %}
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ path('post', { postId : post.id, postTitulo : post.titulo|slice(0, 30)|replace(' ', '-')|lower }) }}">{{ post.titulo }}</a></h4>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block javascript %}

{% endblock %}