{% extends 'base-new.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.css') }}"
          rel="stylesheet">
    <style>
        pre {
            background-color: transparent;
            border: none
        }
    </style>
{% endblock %}

{% block body %}

    <article>
        <div class="container">

            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-7" aria-expanded="false"><span
                                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
                        <ul class="nav navbar-nav">
                            <li class="is-primary"><a href="{{ path('view_editar_letra_musica', { id : musica.id }) }}">Editar Letra</a></li>
                            <li><a id="btnComCifra">Com Cifra</a></li>
                            <li><a id="btnSemCifra">Sem Cifra</a></li>
                            <li><a id="btnCores">Cores</a></li>
                            <li><a id="btnInverter">Inverter Cores</a></li>
                            <li><a id="decfont">A-</a></li>
                            <li><a id="incfont">A+</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="title is-3">{{ musica.nome }}</p>
                    <hr class="small">
                    <pre id="content" data-key="{{ musica.tom }}">{{ musica.letra }}</pre>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </article>

    <script src="{{ asset(app['dir.base'] ~ 'assets/plugins/jQuery-Chord-Transposer/jquery.transposer.js') }}"></script>

    <script>

        $("#btnComCifra").click(function () {
            $('.chord').css('display', 'inline');
            $('.transpose-keys').show();
            $('.pipe').css('display', 'inline');
        });

        $("#btnSemCifra").click(function () {
            $('.chord').css('display', 'none');
            $('.transpose-keys').hide();
            $('.pipe').css('display', 'none');
        });

        $("#btnInverter").click(function () {
            $('span').css('color', 'white');
            $('p').css('color', 'white');
            $('.chord > span').css('color', 'white');
            $('.chord').css('color', 'white');
            $('.pipe').css('color', 'white');
            $('h2').css('color', 'white');
            $('a').css('color', 'white');
            $('a').css('background', 'black');
            $('div').css('background', 'black');
            $('article').css('background', 'black');
        });

        $("#btnCores").click(function () {
            $('span').css('color', 'black');
            $('p').css('color', 'black');
            $('.chord > span').css('color', 'red');
            $('.chord').css('color', 'red');
            $('.pipe').css('color', 'red');
            $('h2').css('color', 'black');
            $('a').css('color', 'red');
            $('a').css('background', '#eee');
            $('div').css('background', 'white');
            $('article').css('background', 'white');
        });

        $("#content").transpose({key: 'C'});
        $('#incfont').click(function () {
            curSize = parseInt($('#content').css('font-size')) + 1;
            curSize2 = parseInt($('.c').css('font-size')) + 1;
            if (curSize <= 32)
                $('#content').css('font-size', curSize);
            if (curSize2 <= 32)
                $('.c').css('font-size', curSize2);
        });
        $('#decfont').click(function () {
            curSize = parseInt($('#content').css('font-size')) - 1;
            curSize2 = parseInt($('.c').css('font-size')) - 1;
            if (curSize >= 5)
                $('#content').css('font-size', curSize);
            if (curSize2 >= 5)
                $('.c').css('font-size', curSize2);
        });
        $('.c').css('font-size', 14);
        $('#content').css('font-size', 14);
    </script>

{% endblock %}